@theme {
  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);

  --color-tokyonight-day-bg: oklch(91.3% 0.007 277.2);
  --color-tokyonight-day-bg-dark: oklch(87.3% 0.02 270.2);
  --color-tokyonight-day-bg-dark1: oklch(83.7% 0.032 269.8);
  --color-tokyonight-day-bg-float: oklch(87.3% 0.02 270.2);
  --color-tokyonight-day-bg-highlight: oklch(83.5% 0.025 275.8);
  --color-tokyonight-day-bg-popup: oklch(87.3% 0.02 270.2);
  --color-tokyonight-day-bg-search: oklch(66.7% 0.118 269.9);
  --color-tokyonight-day-bg-sidebar: oklch(87.3% 0.02 270.2);
  --color-tokyonight-day-bg-statusline: oklch(87.3% 0.02 270.2);
  --color-tokyonight-day-bg-visual: oklch(81.4% 0.049 272.4);
  --color-tokyonight-day-black: oklch(77.4% 0.006 274.9);
  --color-tokyonight-day-blue: oklch(60% 0.18 257.5);
  --color-tokyonight-day-blue0: oklch(66.7% 0.118 269.9);
  --color-tokyonight-day-blue1: oklch(55.3% 0.091 212.9);
  --color-tokyonight-day-blue2: oklch(57.4% 0.1 214.7);
  --color-tokyonight-day-blue5: oklch(48.6% 0.089 221.5);
  --color-tokyonight-day-blue6: oklch(43% 0.047 193.5);
  --color-tokyonight-day-blue7: oklch(72.7% 0.072 266.7);
  --color-tokyonight-day-border: oklch(77.4% 0.006 274.9);
  --color-tokyonight-day-border-highlight: oklch(62.1% 0.083 211.1);
  --color-tokyonight-day-comment: oklch(64.9% 0.062 275.9);
  --color-tokyonight-day-cyan: oklch(51.4% 0.103 230.5);
  --color-tokyonight-day-dark3: oklch(66% 0.053 276);
  --color-tokyonight-day-dark5: oklch(55.5% 0.066 275.7);
  --color-tokyonight-day-diff-add: oklch(86.7% 0.017 225.2);
  --color-tokyonight-day-diff-change: oklch(88.5% 0.016 270);
  --color-tokyonight-day-diff-delete: oklch(85.6% 0.022 3.2);
  --color-tokyonight-day-diff-text: oklch(72.7% 0.072 266.7);
  --color-tokyonight-day-error: oklch(56.8% 0.167 24.1);
  --color-tokyonight-day-fg: oklch(51.2% 0.156 264.1);
  --color-tokyonight-day-fg-dark: oklch(56.5% 0.098 271.3);
  --color-tokyonight-day-fg-float: oklch(51.2% 0.156 264.1);
  --color-tokyonight-day-fg-gutter: oklch(75.6% 0.042 276.1);
  --color-tokyonight-day-fg-sidebar: oklch(56.5% 0.098 271.3);
  --color-tokyonight-day-git-add: oklch(62.9% 0.084 208.7);
  --color-tokyonight-day-git-change: oklch(53.3% 0.082 259.8);
  --color-tokyonight-day-git-delete: oklch(65.8% 0.094 13.1);
  --color-tokyonight-day-git-ignore: oklch(66% 0.053 276);
  --color-tokyonight-day-green: oklch(52.5% 0.093 130.3);
  --color-tokyonight-day-green1: oklch(50.4% 0.061 183.5);
  --color-tokyonight-day-green2: oklch(60.9% 0.086 209.6);
  --color-tokyonight-day-hint: oklch(57.3% 0.105 174.5);
  --color-tokyonight-day-info: oklch(57.4% 0.1 214.7);
  --color-tokyonight-day-magenta: oklch(60.4% 0.225 299.5);
  --color-tokyonight-day-magenta2: oklch(55.6% 0.224 3.7);
  --color-tokyonight-day-orange: oklch(56.5% 0.138 56.1);
  --color-tokyonight-day-purple: oklch(51.5% 0.178 299.2);
  --color-tokyonight-day-rainbow-1: oklch(60% 0.18 257.5);
  --color-tokyonight-day-rainbow-2: oklch(55.3% 0.075 75.2);
  --color-tokyonight-day-rainbow-3: oklch(52.5% 0.093 130.3);
  --color-tokyonight-day-rainbow-4: oklch(57.3% 0.105 174.5);
  --color-tokyonight-day-rainbow-5: oklch(60.4% 0.225 299.5);
  --color-tokyonight-day-rainbow-6: oklch(51.5% 0.178 299.2);
  --color-tokyonight-day-rainbow-7: oklch(56.5% 0.138 56.1);
  --color-tokyonight-day-rainbow-8: oklch(63.4% 0.233 11.6);
  --color-tokyonight-day-red: oklch(63.4% 0.233 11.6);
  --color-tokyonight-day-red1: oklch(56.8% 0.167 24.1);
  --color-tokyonight-day-teal: oklch(57.3% 0.105 174.5);
  --color-tokyonight-day-terminal-black: oklch(73.2% 0.045 278);
  --color-tokyonight-day-terminal-black-bright: oklch(73.2% 0.045 278);
  --color-tokyonight-day-terminal-blue: oklch(60% 0.18 257.5);
  --color-tokyonight-day-terminal-blue-bright: oklch(64.4% 0.192 257.6);
  --color-tokyonight-day-terminal-cyan: oklch(51.4% 0.103 230.5);
  --color-tokyonight-day-terminal-cyan-bright: oklch(55.6% 0.112 230.6);
  --color-tokyonight-day-terminal-green: oklch(52.5% 0.093 130.3);
  --color-tokyonight-day-terminal-green-bright: oklch(56.7% 0.133 129.8);
  --color-tokyonight-day-terminal-magenta: oklch(60.4% 0.225 299.5);
  --color-tokyonight-day-terminal-magenta-bright: oklch(64.6% 0.222 299.3);
  --color-tokyonight-day-terminal-red: oklch(63.4% 0.233 11.6);
  --color-tokyonight-day-terminal-red-bright: oklch(67.5% 0.219 11.2);
  --color-tokyonight-day-terminal-white: oklch(56.5% 0.098 271.3);
  --color-tokyonight-day-terminal-white-bright: oklch(51.2% 0.156 264.1);
  --color-tokyonight-day-terminal-yellow: oklch(55.3% 0.075 75.2);
  --color-tokyonight-day-terminal-yellow-bright: oklch(59.6% 0.107 77.6);
  --color-tokyonight-day-todo: oklch(60% 0.18 257.5);
  --color-tokyonight-day-warning: oklch(55.3% 0.075 75.2);
  --color-tokyonight-day-yellow: oklch(55.3% 0.075 75.2);

  --color-tokyonight-moon-bg: oklch(26.7% 0.034 279);
  --color-tokyonight-moon-bg-dark: oklch(24.9% 0.03 278.4);
  --color-tokyonight-moon-bg-dark1: oklch(22.7% 0.027 277.7);
  --color-tokyonight-moon-bg-float: oklch(24.9% 0.03 278.4);
  --color-tokyonight-moon-bg-highlight: oklch(32.9% 0.046 276.8);
  --color-tokyonight-moon-bg-popup: oklch(24.9% 0.03 278.4);
  --color-tokyonight-moon-bg-search: oklch(54.9% 0.177 265.3);
  --color-tokyonight-moon-bg-sidebar: oklch(24.9% 0.03 278.4);
  --color-tokyonight-moon-bg-statusline: oklch(24.9% 0.03 278.4);
  --color-tokyonight-moon-bg-visual: oklch(38.2% 0.096 268);
  --color-tokyonight-moon-black: oklch(23.5% 0.027 277.8);
  --color-tokyonight-moon-blue: oklch(74.4% 0.131 264.3);
  --color-tokyonight-moon-blue0: oklch(54.9% 0.177 265.3);
  --color-tokyonight-moon-blue1: oklch(76.8% 0.128 243.8);
  --color-tokyonight-moon-blue2: oklch(72.4% 0.126 215.1);
  --color-tokyonight-moon-blue5: oklch(85.6% 0.094 225.9);
  --color-tokyonight-moon-blue6: oklch(93.6% 0.068 194.9);
  --color-tokyonight-moon-blue7: oklch(41.5% 0.066 263.9);
  --color-tokyonight-moon-border: oklch(23.5% 0.027 277.8);
  --color-tokyonight-moon-border-highlight: oklch(67.7% 0.111 245);
  --color-tokyonight-moon-comment: oklch(55.1% 0.09 275.5);
  --color-tokyonight-moon-cyan: oklch(86.2% 0.095 219);
  --color-tokyonight-moon-dark3: oklch(48.2% 0.056 273.9);
  --color-tokyonight-moon-dark5: oklch(58.9% 0.062 276.6);
  --color-tokyonight-moon-diff-add: oklch(33.4% 0.038 249);
  --color-tokyonight-moon-diff-change: oklch(29% 0.039 273.5);
  --color-tokyonight-moon-diff-delete: oklch(30.3% 0.043 326.6);
  --color-tokyonight-moon-diff-text: oklch(41.5% 0.066 263.9);
  --color-tokyonight-moon-error: oklch(56% 0.174 14.9);
  --color-tokyonight-moon-fg: oklch(86.9% 0.049 271.2);
  --color-tokyonight-moon-fg-dark: oklch(64.6% 0.068 275.6);
  --color-tokyonight-moon-fg-float: oklch(86.9% 0.049 271.2);
  --color-tokyonight-moon-fg-gutter: oklch(38.7% 0.054 273.9);
  --color-tokyonight-moon-fg-sidebar: oklch(64.6% 0.068 275.6);
  --color-tokyonight-moon-git-add: oklch(84.7% 0.116 127.1);
  --color-tokyonight-moon-git-change: oklch(71.6% 0.126 264.7);
  --color-tokyonight-moon-git-delete: oklch(67.1% 0.15 16.4);
  --color-tokyonight-moon-git-ignore: oklch(48.2% 0.056 273.9);
  --color-tokyonight-moon-green: oklch(88.4% 0.124 126.8);
  --color-tokyonight-moon-green1: oklch(79.6% 0.122 179);
  --color-tokyonight-moon-green2: oklch(67.3% 0.094 208.8);
  --color-tokyonight-moon-hint: oklch(79.6% 0.122 179);
  --color-tokyonight-moon-info: oklch(72.4% 0.126 215.1);
  --color-tokyonight-moon-magenta: oklch(75.8% 0.147 300.6);
  --color-tokyonight-moon-magenta2: oklch(64.4% 0.259 3.7);
  --color-tokyonight-moon-orange: oklch(77.5% 0.139 42.2);
  --color-tokyonight-moon-purple: oklch(83.2% 0.13 334.7);
  --color-tokyonight-moon-rainbow-1: oklch(74.4% 0.131 264.3);
  --color-tokyonight-moon-rainbow-2: oklch(86.3% 0.117 75);
  --color-tokyonight-moon-rainbow-3: oklch(88.4% 0.124 126.8);
  --color-tokyonight-moon-rainbow-4: oklch(79.6% 0.122 179);
  --color-tokyonight-moon-rainbow-5: oklch(75.8% 0.147 300.6);
  --color-tokyonight-moon-rainbow-6: oklch(83.2% 0.13 334.7);
  --color-tokyonight-moon-rainbow-7: oklch(77.5% 0.139 42.2);
  --color-tokyonight-moon-rainbow-8: oklch(72.9% 0.168 17.8);
  --color-tokyonight-moon-red: oklch(72.9% 0.168 17.8);
  --color-tokyonight-moon-red1: oklch(56% 0.174 14.9);
  --color-tokyonight-moon-teal: oklch(79.6% 0.122 179);
  --color-tokyonight-moon-terminal-black: oklch(42.2% 0.069 276.7);
  --color-tokyonight-moon-terminal-black-bright: oklch(42.2% 0.069 276.7);
  --color-tokyonight-moon-terminal-blue: oklch(74.4% 0.131 264.3);
  --color-tokyonight-moon-terminal-blue-bright: oklch(78.7% 0.107 266.4);
  --color-tokyonight-moon-terminal-cyan: oklch(86.2% 0.095 219);
  --color-tokyonight-moon-terminal-cyan-bright: oklch(90.8% 0.064 221.5);
  --color-tokyonight-moon-terminal-green: oklch(88.4% 0.124 126.8);
  --color-tokyonight-moon-terminal-green-bright: oklch(92.4% 0.179 126.5);
  --color-tokyonight-moon-terminal-magenta: oklch(75.8% 0.147 300.6);
  --color-tokyonight-moon-terminal-magenta-bright: oklch(79.9% 0.121 300.7);
  --color-tokyonight-moon-terminal-red: oklch(72.9% 0.168 17.8);
  --color-tokyonight-moon-terminal-red-bright: oklch(76.8% 0.138 16.9);
  --color-tokyonight-moon-terminal-white: oklch(64.6% 0.068 275.6);
  --color-tokyonight-moon-terminal-white-bright: oklch(86.9% 0.049 271.2);
  --color-tokyonight-moon-terminal-yellow: oklch(86.3% 0.117 75);
  --color-tokyonight-moon-terminal-yellow-bright: oklch(90.4% 0.073 70.7);
  --color-tokyonight-moon-todo: oklch(74.4% 0.131 264.3);
  --color-tokyonight-moon-warning: oklch(86.3% 0.117 75);
  --color-tokyonight-moon-yellow: oklch(86.3% 0.117 75);

  --color-tokyonight-night-bg: oklch(22.6% 0.021 280.5);
  --color-tokyonight-night-bg-dark: oklch(20.4% 0.016 284.9);
  --color-tokyonight-night-bg-dark1: oklch(16.5% 0.013 270.5);
  --color-tokyonight-night-bg-float: oklch(20.4% 0.016 284.9);
  --color-tokyonight-night-bg-highlight: oklch(30.6% 0.037 273.2);
  --color-tokyonight-night-bg-popup: oklch(20.4% 0.016 284.9);
  --color-tokyonight-night-bg-search: oklch(47.9% 0.121 266);
  --color-tokyonight-night-bg-sidebar: oklch(20.4% 0.016 284.9);
  --color-tokyonight-night-bg-statusline: oklch(20.4% 0.016 284.9);
  --color-tokyonight-night-bg-visual: oklch(33.2% 0.064 268.4);
  --color-tokyonight-night-black: oklch(20.3% 0.016 279.3);
  --color-tokyonight-night-blue: oklch(71.9% 0.132 264.2);
  --color-tokyonight-night-blue0: oklch(47.9% 0.121 266);
  --color-tokyonight-night-blue1: oklch(75.4% 0.124 213.2);
  --color-tokyonight-night-blue2: oklch(72.4% 0.126 215.1);
  --color-tokyonight-night-blue5: oklch(85.6% 0.094 225.9);
  --color-tokyonight-night-blue6: oklch(93.6% 0.068 194.9);
  --color-tokyonight-night-blue7: oklch(41.5% 0.066 263.9);
  --color-tokyonight-night-border: oklch(20.3% 0.016 279.3);
  --color-tokyonight-night-border-highlight: oklch(65.6% 0.107 214.6);
  --color-tokyonight-night-comment: oklch(49.6% 0.068 274.4);
  --color-tokyonight-night-cyan: oklch(82% 0.105 235.7);
  --color-tokyonight-night-dark3: oklch(48.2% 0.056 273.9);
  --color-tokyonight-night-dark5: oklch(58.9% 0.062 276.6);
  --color-tokyonight-night-diff-add: oklch(30% 0.029 239);
  --color-tokyonight-night-diff-change: oklch(25.6% 0.029 275.4);
  --color-tokyonight-night-diff-delete: oklch(28.2% 0.036 349.6);
  --color-tokyonight-night-diff-text: oklch(41.5% 0.066 263.9);
  --color-tokyonight-night-error: oklch(61.2% 0.18 24.1);
  --color-tokyonight-night-fg: oklch(84.6% 0.061 274.8);
  --color-tokyonight-night-fg-dark: oklch(76.7% 0.054 275.5);
  --color-tokyonight-night-fg-float: oklch(84.6% 0.061 274.8);
  --color-tokyonight-night-fg-gutter: oklch(38.7% 0.054 273.9);
  --color-tokyonight-night-fg-sidebar: oklch(76.7% 0.054 275.5);
  --color-tokyonight-night-git-add: oklch(64.8% 0.086 209.3);
  --color-tokyonight-night-git-change: oklch(60.8% 0.094 260.1);
  --color-tokyonight-night-git-delete: oklch(50.2% 0.093 13.6);
  --color-tokyonight-night-git-ignore: oklch(48.2% 0.056 273.9);
  --color-tokyonight-night-green: oklch(79.5% 0.139 130.1);
  --color-tokyonight-night-green1: oklch(82.2% 0.1 182.5);
  --color-tokyonight-night-green2: oklch(67.3% 0.094 208.8);
  --color-tokyonight-night-hint: oklch(71.2% 0.131 174.2);
  --color-tokyonight-night-info: oklch(72.4% 0.126 215.1);
  --color-tokyonight-night-magenta: oklch(75.1% 0.134 299.5);
  --color-tokyonight-night-magenta2: oklch(64.4% 0.259 3.7);
  --color-tokyonight-night-orange: oklch(78.7% 0.137 50.6);
  --color-tokyonight-night-purple: oklch(65.5% 0.137 299.1);
  --color-tokyonight-night-rainbow-1: oklch(71.9% 0.132 264.2);
  --color-tokyonight-night-rainbow-2: oklch(78.4% 0.106 75.4);
  --color-tokyonight-night-rainbow-3: oklch(79.5% 0.139 130.1);
  --color-tokyonight-night-rainbow-4: oklch(71.2% 0.131 174.2);
  --color-tokyonight-night-rainbow-5: oklch(75.1% 0.134 299.5);
  --color-tokyonight-night-rainbow-6: oklch(65.5% 0.137 299.1);
  --color-tokyonight-night-rainbow-7: oklch(78.7% 0.137 50.6);
  --color-tokyonight-night-rainbow-8: oklch(72.3% 0.159 10.3);
  --color-tokyonight-night-red: oklch(72.3% 0.159 10.3);
  --color-tokyonight-night-red1: oklch(61.2% 0.18 24.1);
  --color-tokyonight-night-teal: oklch(71.2% 0.131 174.2);
  --color-tokyonight-night-terminal-black: oklch(40.9% 0.055 274.3);
  --color-tokyonight-night-terminal-black-bright: oklch(40.9% 0.055 274.3);
  --color-tokyonight-night-terminal-blue: oklch(71.9% 0.132 264.2);
  --color-tokyonight-night-terminal-blue-bright: oklch(76.3% 0.12 265.4);
  --color-tokyonight-night-terminal-cyan: oklch(82% 0.105 235.7);
  --color-tokyonight-night-terminal-cyan-bright: oklch(86.4% 0.076 238.7);
  --color-tokyonight-night-terminal-green: oklch(79.5% 0.139 130.1);
  --color-tokyonight-night-terminal-green-bright: oklch(83.4% 0.194 129.6);
  --color-tokyonight-night-terminal-magenta: oklch(75.1% 0.134 299.5);
  --color-tokyonight-night-terminal-magenta-bright: oklch(79.2% 0.123 299.6);
  --color-tokyonight-night-terminal-red: oklch(72.3% 0.159 10.3);
  --color-tokyonight-night-terminal-red-bright: oklch(76.4% 0.144 10.3);
  --color-tokyonight-night-terminal-white: oklch(76.7% 0.054 275.5);
  --color-tokyonight-night-terminal-white-bright: oklch(84.6% 0.061 274.8);
  --color-tokyonight-night-terminal-yellow: oklch(78.4% 0.106 75.4);
  --color-tokyonight-night-terminal-yellow-bright: oklch(82.9% 0.145 78);
  --color-tokyonight-night-todo: oklch(71.9% 0.132 264.2);
  --color-tokyonight-night-warning: oklch(78.4% 0.106 75.4);
  --color-tokyonight-night-yellow: oklch(78.4% 0.106 75.4);

  --color-tokyonight-storm-bg: oklch(28.2% 0.036 274.7);
  --color-tokyonight-storm-bg-dark: oklch(26.1% 0.034 274.2);
  --color-tokyonight-storm-bg-dark1: oklch(23.9% 0.029 275.3);
  --color-tokyonight-storm-bg-float: oklch(26.1% 0.034 274.2);
  --color-tokyonight-storm-bg-highlight: oklch(30.6% 0.037 273.2);
  --color-tokyonight-storm-bg-popup: oklch(26.1% 0.034 274.2);
  --color-tokyonight-storm-bg-search: oklch(47.9% 0.121 266);
  --color-tokyonight-storm-bg-sidebar: oklch(26.1% 0.034 274.2);
  --color-tokyonight-storm-bg-statusline: oklch(26.1% 0.034 274.2);
  --color-tokyonight-storm-bg-visual: oklch(36.4% 0.072 268.1);
  --color-tokyonight-storm-black: oklch(24.8% 0.029 275.4);
  --color-tokyonight-storm-blue: oklch(71.9% 0.132 264.2);
  --color-tokyonight-storm-blue0: oklch(47.9% 0.121 266);
  --color-tokyonight-storm-blue1: oklch(75.4% 0.124 213.2);
  --color-tokyonight-storm-blue2: oklch(72.4% 0.126 215.1);
  --color-tokyonight-storm-blue5: oklch(85.6% 0.094 225.9);
  --color-tokyonight-storm-blue6: oklch(93.6% 0.068 194.9);
  --color-tokyonight-storm-blue7: oklch(41.5% 0.066 263.9);
  --color-tokyonight-storm-border: oklch(24.8% 0.029 275.4);
  --color-tokyonight-storm-border-highlight: oklch(66.5% 0.108 215.1);
  --color-tokyonight-storm-comment: oklch(49.6% 0.068 274.4);
  --color-tokyonight-storm-cyan: oklch(82% 0.105 235.7);
  --color-tokyonight-storm-dark3: oklch(48.2% 0.056 273.9);
  --color-tokyonight-storm-dark5: oklch(58.9% 0.062 276.6);
  --color-tokyonight-storm-diff-add: oklch(34.4% 0.04 247.7);
  --color-tokyonight-storm-diff-change: oklch(30.2% 0.041 272.1);
  --color-tokyonight-storm-diff-delete: oklch(32.4% 0.037 330.2);
  --color-tokyonight-storm-diff-text: oklch(41.5% 0.066 263.9);
  --color-tokyonight-storm-error: oklch(61.2% 0.18 24.1);
  --color-tokyonight-storm-fg: oklch(84.6% 0.061 274.8);
  --color-tokyonight-storm-fg-dark: oklch(76.7% 0.054 275.5);
  --color-tokyonight-storm-fg-float: oklch(84.6% 0.061 274.8);
  --color-tokyonight-storm-fg-gutter: oklch(38.7% 0.054 273.9);
  --color-tokyonight-storm-fg-sidebar: oklch(76.7% 0.054 275.5);
  --color-tokyonight-storm-git-add: oklch(64.8% 0.086 209.3);
  --color-tokyonight-storm-git-change: oklch(60.8% 0.094 260.1);
  --color-tokyonight-storm-git-delete: oklch(50.2% 0.093 13.6);
  --color-tokyonight-storm-git-ignore: oklch(48.2% 0.056 273.9);
  --color-tokyonight-storm-green: oklch(79.5% 0.139 130.1);
  --color-tokyonight-storm-green1: oklch(82.2% 0.1 182.5);
  --color-tokyonight-storm-green2: oklch(67.3% 0.094 208.8);
  --color-tokyonight-storm-hint: oklch(71.2% 0.131 174.2);
  --color-tokyonight-storm-info: oklch(72.4% 0.126 215.1);
  --color-tokyonight-storm-magenta: oklch(75.1% 0.134 299.5);
  --color-tokyonight-storm-magenta2: oklch(64.4% 0.259 3.7);
  --color-tokyonight-storm-orange: oklch(78.7% 0.137 50.6);
  --color-tokyonight-storm-purple: oklch(65.5% 0.137 299.1);
  --color-tokyonight-storm-rainbow-1: oklch(71.9% 0.132 264.2);
  --color-tokyonight-storm-rainbow-2: oklch(78.4% 0.106 75.4);
  --color-tokyonight-storm-rainbow-3: oklch(79.5% 0.139 130.1);
  --color-tokyonight-storm-rainbow-4: oklch(71.2% 0.131 174.2);
  --color-tokyonight-storm-rainbow-5: oklch(75.1% 0.134 299.5);
  --color-tokyonight-storm-rainbow-6: oklch(65.5% 0.137 299.1);
  --color-tokyonight-storm-rainbow-7: oklch(78.7% 0.137 50.6);
  --color-tokyonight-storm-rainbow-8: oklch(72.3% 0.159 10.3);
  --color-tokyonight-storm-red: oklch(72.3% 0.159 10.3);
  --color-tokyonight-storm-red1: oklch(61.2% 0.18 24.1);
  --color-tokyonight-storm-teal: oklch(71.2% 0.131 174.2);
  --color-tokyonight-storm-terminal-black: oklch(40.9% 0.055 274.3);
  --color-tokyonight-storm-terminal-black-bright: oklch(40.9% 0.055 274.3);
  --color-tokyonight-storm-terminal-blue: oklch(71.9% 0.132 264.2);
  --color-tokyonight-storm-terminal-blue-bright: oklch(76.3% 0.12 265.4);
  --color-tokyonight-storm-terminal-cyan: oklch(82% 0.105 235.7);
  --color-tokyonight-storm-terminal-cyan-bright: oklch(86.4% 0.076 238.7);
  --color-tokyonight-storm-terminal-green: oklch(79.5% 0.139 130.1);
  --color-tokyonight-storm-terminal-green-bright: oklch(83.4% 0.194 129.6);
  --color-tokyonight-storm-terminal-magenta: oklch(75.1% 0.134 299.5);
  --color-tokyonight-storm-terminal-magenta-bright: oklch(79.2% 0.123 299.6);
  --color-tokyonight-storm-terminal-red: oklch(72.3% 0.159 10.3);
  --color-tokyonight-storm-terminal-red-bright: oklch(76.4% 0.144 10.3);
  --color-tokyonight-storm-terminal-white: oklch(76.7% 0.054 275.5);
  --color-tokyonight-storm-terminal-white-bright: oklch(84.6% 0.061 274.8);
  --color-tokyonight-storm-terminal-yellow: oklch(78.4% 0.106 75.4);
  --color-tokyonight-storm-terminal-yellow-bright: oklch(82.9% 0.145 78);
  --color-tokyonight-storm-todo: oklch(71.9% 0.132 264.2);
  --color-tokyonight-storm-warning: oklch(78.4% 0.106 75.4);
  --color-tokyonight-storm-yellow: oklch(78.4% 0.106 75.4);
}

:root {
  --color-tokyonight-bg: var(--color-tokyonight-day-bg);
  --color-tokyonight-bg-dark: var(--color-tokyonight-day-bg-dark);
  --color-tokyonight-bg-dark1: var(--color-tokyonight-day-bg-dark1);
  --color-tokyonight-bg-float: var(--color-tokyonight-day-bg-float);
  --color-tokyonight-bg-highlight: var(--color-tokyonight-day-bg-highlight);
  --color-tokyonight-bg-popup: var(--color-tokyonight-day-bg-popup);
  --color-tokyonight-bg-search: var(--color-tokyonight-day-bg-search);
  --color-tokyonight-bg-sidebar: var(--color-tokyonight-day-bg-sidebar);
  --color-tokyonight-bg-statusline: var(--color-tokyonight-day-bg-statusline);
  --color-tokyonight-bg-visual: var(--color-tokyonight-day-bg-visual);
  --color-tokyonight-black: var(--color-tokyonight-day-black);
  --color-tokyonight-blue: var(--color-tokyonight-day-blue);
  --color-tokyonight-blue0: var(--color-tokyonight-day-blue0);
  --color-tokyonight-blue1: var(--color-tokyonight-day-blue1);
  --color-tokyonight-blue2: var(--color-tokyonight-day-blue2);
  --color-tokyonight-blue5: var(--color-tokyonight-day-blue5);
  --color-tokyonight-blue6: var(--color-tokyonight-day-blue6);
  --color-tokyonight-blue7: var(--color-tokyonight-day-blue7);
  --color-tokyonight-border: var(--color-tokyonight-day-border);
  --color-tokyonight-border-highlight: var(
    --color-tokyonight-day-border-highlight
  );
  --color-tokyonight-comment: var(--color-tokyonight-day-comment);
  --color-tokyonight-cyan: var(--color-tokyonight-day-cyan);
  --color-tokyonight-dark3: var(--color-tokyonight-day-dark3);
  --color-tokyonight-dark5: var(--color-tokyonight-day-dark5);
  --color-tokyonight-diff-add: var(--color-tokyonight-day-diff-add);
  --color-tokyonight-diff-change: var(--color-tokyonight-day-diff-change);
  --color-tokyonight-diff-delete: var(--color-tokyonight-day-diff-delete);
  --color-tokyonight-diff-text: var(--color-tokyonight-day-diff-text);
  --color-tokyonight-error: var(--color-tokyonight-day-error);
  --color-tokyonight-fg: var(--color-tokyonight-day-fg);
  --color-tokyonight-fg-dark: var(--color-tokyonight-day-fg-dark);
  --color-tokyonight-fg-float: var(--color-tokyonight-day-fg-float);
  --color-tokyonight-fg-gutter: var(--color-tokyonight-day-fg-gutter);
  --color-tokyonight-fg-sidebar: var(--color-tokyonight-day-fg-sidebar);
  --color-tokyonight-git-add: var(--color-tokyonight-day-git-add);
  --color-tokyonight-git-change: var(--color-tokyonight-day-git-change);
  --color-tokyonight-git-delete: var(--color-tokyonight-day-git-delete);
  --color-tokyonight-git-ignore: var(--color-tokyonight-day-git-ignore);
  --color-tokyonight-green: var(--color-tokyonight-day-green);
  --color-tokyonight-green1: var(--color-tokyonight-day-green1);
  --color-tokyonight-green2: var(--color-tokyonight-day-green2);
  --color-tokyonight-hint: var(--color-tokyonight-day-hint);
  --color-tokyonight-info: var(--color-tokyonight-day-info);
  --color-tokyonight-magenta: var(--color-tokyonight-day-magenta);
  --color-tokyonight-magenta2: var(--color-tokyonight-day-magenta2);
  --color-tokyonight-orange: var(--color-tokyonight-day-orange);
  --color-tokyonight-purple: var(--color-tokyonight-day-purple);
  --color-tokyonight-rainbow-1: var(--color-tokyonight-day-rainbow-1);
  --color-tokyonight-rainbow-2: var(--color-tokyonight-day-rainbow-2);
  --color-tokyonight-rainbow-3: var(--color-tokyonight-day-rainbow-3);
  --color-tokyonight-rainbow-4: var(--color-tokyonight-day-rainbow-4);
  --color-tokyonight-rainbow-5: var(--color-tokyonight-day-rainbow-5);
  --color-tokyonight-rainbow-6: var(--color-tokyonight-day-rainbow-6);
  --color-tokyonight-rainbow-7: var(--color-tokyonight-day-rainbow-7);
  --color-tokyonight-rainbow-8: var(--color-tokyonight-day-rainbow-8);
  --color-tokyonight-red: var(--color-tokyonight-day-red);
  --color-tokyonight-red1: var(--color-tokyonight-day-red1);
  --color-tokyonight-teal: var(--color-tokyonight-day-teal);
  --color-tokyonight-terminal-black: var(--color-tokyonight-day-terminal-black);
  --color-tokyonight-terminal-black-bright: var(
    --color-tokyonight-day-terminal-black-bright
  );
  --color-tokyonight-terminal-blue: var(--color-tokyonight-day-terminal-blue);
  --color-tokyonight-terminal-blue-bright: var(
    --color-tokyonight-day-terminal-blue-bright
  );
  --color-tokyonight-terminal-cyan: var(--color-tokyonight-day-terminal-cyan);
  --color-tokyonight-terminal-cyan-bright: var(
    --color-tokyonight-day-terminal-cyan-bright
  );
  --color-tokyonight-terminal-green: var(--color-tokyonight-day-terminal-green);
  --color-tokyonight-terminal-green-bright: var(
    --color-tokyonight-day-terminal-green-bright
  );
  --color-tokyonight-terminal-magenta: var(
    --color-tokyonight-day-terminal-magenta
  );
  --color-tokyonight-terminal-magenta-bright: var(
    --color-tokyonight-day-terminal-magenta-bright
  );
  --color-tokyonight-terminal-red: var(--color-tokyonight-day-terminal-red);
  --color-tokyonight-terminal-red-bright: var(
    --color-tokyonight-day-terminal-red-bright
  );
  --color-tokyonight-terminal-white: var(--color-tokyonight-day-terminal-white);
  --color-tokyonight-terminal-white-bright: var(
    --color-tokyonight-day-terminal-white-bright
  );
  --color-tokyonight-terminal-yellow: var(
    --color-tokyonight-day-terminal-yellow
  );
  --color-tokyonight-terminal-yellow-bright: var(
    --color-tokyonight-day-terminal-yellow-bright
  );
  --color-tokyonight-todo: var(--color-tokyonight-day-todo);
  --color-tokyonight-warning: var(--color-tokyonight-day-warning);
  --color-tokyonight-yellow: var(--color-tokyonight-day-yellow);

  @media (prefers-color-scheme: dark) {
    --color-tokyonight-bg: var(--color-tokyonight-moon-bg);
    --color-tokyonight-bg-dark: var(--color-tokyonight-moon-bg-dark);
    --color-tokyonight-bg-dark1: var(--color-tokyonight-moon-bg-dark1);
    --color-tokyonight-bg-float: var(--color-tokyonight-moon-bg-float);
    --color-tokyonight-bg-highlight: var(--color-tokyonight-moon-bg-highlight);
    --color-tokyonight-bg-popup: var(--color-tokyonight-moon-bg-popup);
    --color-tokyonight-bg-search: var(--color-tokyonight-moon-bg-search);
    --color-tokyonight-bg-sidebar: var(--color-tokyonight-moon-bg-sidebar);
    --color-tokyonight-bg-statusline: var(--color-tokyonight-moon-bg-statusline);
    --color-tokyonight-bg-visual: var(--color-tokyonight-moon-bg-visual);
    --color-tokyonight-black: var(--color-tokyonight-moon-black);
    --color-tokyonight-blue: var(--color-tokyonight-moon-blue);
    --color-tokyonight-blue0: var(--color-tokyonight-moon-blue0);
    --color-tokyonight-blue1: var(--color-tokyonight-moon-blue1);
    --color-tokyonight-blue2: var(--color-tokyonight-moon-blue2);
    --color-tokyonight-blue5: var(--color-tokyonight-moon-blue5);
    --color-tokyonight-blue6: var(--color-tokyonight-moon-blue6);
    --color-tokyonight-blue7: var(--color-tokyonight-moon-blue7);
    --color-tokyonight-border: var(--color-tokyonight-moon-border);
    --color-tokyonight-border-highlight: var(
      --color-tokyonight-moon-border-highlight
    );
    --color-tokyonight-comment: var(--color-tokyonight-moon-comment);
    --color-tokyonight-cyan: var(--color-tokyonight-moon-cyan);
    --color-tokyonight-dark3: var(--color-tokyonight-moon-dark3);
    --color-tokyonight-dark5: var(--color-tokyonight-moon-dark5);
    --color-tokyonight-diff-add: var(--color-tokyonight-moon-diff-add);
    --color-tokyonight-diff-change: var(--color-tokyonight-moon-diff-change);
    --color-tokyonight-diff-delete: var(--color-tokyonight-moon-diff-delete);
    --color-tokyonight-diff-text: var(--color-tokyonight-moon-diff-text);
    --color-tokyonight-error: var(--color-tokyonight-moon-error);
    --color-tokyonight-fg: var(--color-tokyonight-moon-fg);
    --color-tokyonight-fg-dark: var(--color-tokyonight-moon-fg-dark);
    --color-tokyonight-fg-float: var(--color-tokyonight-moon-fg-float);
    --color-tokyonight-fg-gutter: var(--color-tokyonight-moon-fg-gutter);
    --color-tokyonight-fg-sidebar: var(--color-tokyonight-moon-fg-sidebar);
    --color-tokyonight-git-add: var(--color-tokyonight-moon-git-add);
    --color-tokyonight-git-change: var(--color-tokyonight-moon-git-change);
    --color-tokyonight-git-delete: var(--color-tokyonight-moon-git-delete);
    --color-tokyonight-git-ignore: var(--color-tokyonight-moon-git-ignore);
    --color-tokyonight-green: var(--color-tokyonight-moon-green);
    --color-tokyonight-green1: var(--color-tokyonight-moon-green1);
    --color-tokyonight-green2: var(--color-tokyonight-moon-green2);
    --color-tokyonight-hint: var(--color-tokyonight-moon-hint);
    --color-tokyonight-info: var(--color-tokyonight-moon-info);
    --color-tokyonight-magenta: var(--color-tokyonight-moon-magenta);
    --color-tokyonight-magenta2: var(--color-tokyonight-moon-magenta2);
    --color-tokyonight-orange: var(--color-tokyonight-moon-orange);
    --color-tokyonight-purple: var(--color-tokyonight-moon-purple);
    --color-tokyonight-rainbow-1: var(--color-tokyonight-moon-rainbow-1);
    --color-tokyonight-rainbow-2: var(--color-tokyonight-moon-rainbow-2);
    --color-tokyonight-rainbow-3: var(--color-tokyonight-moon-rainbow-3);
    --color-tokyonight-rainbow-4: var(--color-tokyonight-moon-rainbow-4);
    --color-tokyonight-rainbow-5: var(--color-tokyonight-moon-rainbow-5);
    --color-tokyonight-rainbow-6: var(--color-tokyonight-moon-rainbow-6);
    --color-tokyonight-rainbow-7: var(--color-tokyonight-moon-rainbow-7);
    --color-tokyonight-rainbow-8: var(--color-tokyonight-moon-rainbow-8);
    --color-tokyonight-red: var(--color-tokyonight-moon-red);
    --color-tokyonight-red1: var(--color-tokyonight-moon-red1);
    --color-tokyonight-teal: var(--color-tokyonight-moon-teal);
    --color-tokyonight-terminal-black: var(
      --color-tokyonight-moon-terminal-black
    );
    --color-tokyonight-terminal-black-bright: var(
      --color-tokyonight-moon-terminal-black-bright
    );
    --color-tokyonight-terminal-blue: var(--color-tokyonight-moon-terminal-blue);
    --color-tokyonight-terminal-blue-bright: var(
      --color-tokyonight-moon-terminal-blue-bright
    );
    --color-tokyonight-terminal-cyan: var(--color-tokyonight-moon-terminal-cyan);
    --color-tokyonight-terminal-cyan-bright: var(
      --color-tokyonight-moon-terminal-cyan-bright
    );
    --color-tokyonight-terminal-green: var(
      --color-tokyonight-moon-terminal-green
    );
    --color-tokyonight-terminal-green-bright: var(
      --color-tokyonight-moon-terminal-green-bright
    );
    --color-tokyonight-terminal-magenta: var(
      --color-tokyonight-moon-terminal-magenta
    );
    --color-tokyonight-terminal-magenta-bright: var(
      --color-tokyonight-moon-terminal-magenta-bright
    );
    --color-tokyonight-terminal-red: var(--color-tokyonight-moon-terminal-red);
    --color-tokyonight-terminal-red-bright: var(
      --color-tokyonight-moon-terminal-red-bright
    );
    --color-tokyonight-terminal-white: var(
      --color-tokyonight-moon-terminal-white
    );
    --color-tokyonight-terminal-white-bright: var(
      --color-tokyonight-moon-terminal-white-bright
    );
    --color-tokyonight-terminal-yellow: var(
      --color-tokyonight-moon-terminal-yellow
    );
    --color-tokyonight-terminal-yellow-bright: var(
      --color-tokyonight-moon-terminal-yellow-bright
    );
    --color-tokyonight-todo: var(--color-tokyonight-moon-todo);
    --color-tokyonight-warning: var(--color-tokyonight-moon-warning);
    --color-tokyonight-yellow: var(--color-tokyonight-moon-yellow);
  }
}
