@theme {
  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);

  --color-tokyonight-day-bg: #e1e2e7;
  --color-tokyonight-day-bg-dark: #d0d5e3;
  --color-tokyonight-day-bg-dark1: #c1c9df;
  --color-tokyonight-day-bg-float: #d0d5e3;
  --color-tokyonight-day-bg-highlight: #c4c8da;
  --color-tokyonight-day-bg-popup: #d0d5e3;
  --color-tokyonight-day-bg-search: #7890dd;
  --color-tokyonight-day-bg-sidebar: #d0d5e3;
  --color-tokyonight-day-bg-statusline: #d0d5e3;
  --color-tokyonight-day-bg-visual: #b7c1e3;
  --color-tokyonight-day-black: #b4b5b9;
  --color-tokyonight-day-blue: #2e7de9;
  --color-tokyonight-day-blue0: #7890dd;
  --color-tokyonight-day-blue1: #188092;
  --color-tokyonight-day-blue2: #07879d;
  --color-tokyonight-day-blue5: #006a83;
  --color-tokyonight-day-blue6: #2e5857;
  --color-tokyonight-day-blue7: #92a6d5;
  --color-tokyonight-day-border: #b4b5b9;
  --color-tokyonight-day-border-highlight: #4094a3;
  --color-tokyonight-day-comment: #848cb5;
  --color-tokyonight-day-cyan: #007197;
  --color-tokyonight-day-dark3: #8990b3;
  --color-tokyonight-day-dark5: #68709a;
  --color-tokyonight-day-diff-add: #c8d6dc;
  --color-tokyonight-day-diff-change: #d5d9e4;
  --color-tokyonight-day-diff-delete: #ddcace;
  --color-tokyonight-day-diff-text: #92a6d5;
  --color-tokyonight-day-error: #c64343;
  --color-tokyonight-day-fg: #3760bf;
  --color-tokyonight-day-fg-dark: #6172b0;
  --color-tokyonight-day-fg-float: #3760bf;
  --color-tokyonight-day-fg-gutter: #a8aecb;
  --color-tokyonight-day-fg-sidebar: #6172b0;
  --color-tokyonight-day-git-add: #4197a4;
  --color-tokyonight-day-git-change: #506d9c;
  --color-tokyonight-day-git-delete: #c47981;
  --color-tokyonight-day-git-ignore: #8990b3;
  --color-tokyonight-day-green: #587539;
  --color-tokyonight-day-green1: #387068;
  --color-tokyonight-day-green2: #38919f;
  --color-tokyonight-day-hint: #118c74;
  --color-tokyonight-day-info: #07879d;
  --color-tokyonight-day-magenta: #9854f1;
  --color-tokyonight-day-magenta2: #d20065;
  --color-tokyonight-day-none: NONE;
  --color-tokyonight-day-orange: #b15c00;
  --color-tokyonight-day-purple: #7847bd;
  --color-tokyonight-day-rainbow-1: #2e7de9;
  --color-tokyonight-day-rainbow-2: #8c6c3e;
  --color-tokyonight-day-rainbow-3: #587539;
  --color-tokyonight-day-rainbow-4: #118c74;
  --color-tokyonight-day-rainbow-5: #9854f1;
  --color-tokyonight-day-rainbow-6: #7847bd;
  --color-tokyonight-day-rainbow-7: #b15c00;
  --color-tokyonight-day-rainbow-8: #f52a65;
  --color-tokyonight-day-red: #f52a65;
  --color-tokyonight-day-red1: #c64343;
  --color-tokyonight-day-teal: #118c74;
  --color-tokyonight-day-terminal-black: #a1a6c5;
  --color-tokyonight-day-terminal-black-bright: #a1a6c5;
  --color-tokyonight-day-terminal-blue: #2e7de9;
  --color-tokyonight-day-terminal-blue-bright: #358aff;
  --color-tokyonight-day-terminal-cyan: #007197;
  --color-tokyonight-day-terminal-cyan-bright: #007ea8;
  --color-tokyonight-day-terminal-green: #587539;
  --color-tokyonight-day-terminal-green-bright: #5c8524;
  --color-tokyonight-day-terminal-magenta: #9854f1;
  --color-tokyonight-day-terminal-magenta-bright: #a463ff;
  --color-tokyonight-day-terminal-red: #f52a65;
  --color-tokyonight-day-terminal-red-bright: #ff4774;
  --color-tokyonight-day-terminal-white: #6172b0;
  --color-tokyonight-day-terminal-white-bright: #3760bf;
  --color-tokyonight-day-terminal-yellow: #8c6c3e;
  --color-tokyonight-day-terminal-yellow-bright: #a27629;
  --color-tokyonight-day-todo: #2e7de9;
  --color-tokyonight-day-warning: #8c6c3e;
  --color-tokyonight-day-yellow: #8c6c3e;

  --color-tokyonight-moon-bg: #222436;
  --color-tokyonight-moon-bg-dark: #1e2030;
  --color-tokyonight-moon-bg-dark1: #191b29;
  --color-tokyonight-moon-bg-float: #1e2030;
  --color-tokyonight-moon-bg-highlight: #2f334d;
  --color-tokyonight-moon-bg-popup: #1e2030;
  --color-tokyonight-moon-bg-search: #3e68d7;
  --color-tokyonight-moon-bg-sidebar: #1e2030;
  --color-tokyonight-moon-bg-statusline: #1e2030;
  --color-tokyonight-moon-bg-visual: #2d3f76;
  --color-tokyonight-moon-black: #1b1d2b;
  --color-tokyonight-moon-blue: #82aaff;
  --color-tokyonight-moon-blue0: #3e68d7;
  --color-tokyonight-moon-blue1: #65bcff;
  --color-tokyonight-moon-blue2: #0db9d7;
  --color-tokyonight-moon-blue5: #89ddff;
  --color-tokyonight-moon-blue6: #b4f9f8;
  --color-tokyonight-moon-blue7: #394b70;
  --color-tokyonight-moon-border: #1b1d2b;
  --color-tokyonight-moon-border-highlight: #589ed7;
  --color-tokyonight-moon-comment: #636da6;
  --color-tokyonight-moon-cyan: #86e1fc;
  --color-tokyonight-moon-dark3: #545c7e;
  --color-tokyonight-moon-dark5: #737aa2;
  --color-tokyonight-moon-diff-add: #273849;
  --color-tokyonight-moon-diff-change: #252a3f;
  --color-tokyonight-moon-diff-delete: #3a273a;
  --color-tokyonight-moon-diff-text: #394b70;
  --color-tokyonight-moon-error: #c53b53;
  --color-tokyonight-moon-fg: #c8d3f5;
  --color-tokyonight-moon-fg-dark: #828bb8;
  --color-tokyonight-moon-fg-float: #c8d3f5;
  --color-tokyonight-moon-fg-gutter: #3b4261;
  --color-tokyonight-moon-fg-sidebar: #828bb8;
  --color-tokyonight-moon-git-add: #b8db87;
  --color-tokyonight-moon-git-change: #7ca1f2;
  --color-tokyonight-moon-git-delete: #e26a75;
  --color-tokyonight-moon-git-ignore: #545c7e;
  --color-tokyonight-moon-green: #c3e88d;
  --color-tokyonight-moon-green1: #4fd6be;
  --color-tokyonight-moon-green2: #41a6b5;
  --color-tokyonight-moon-hint: #4fd6be;
  --color-tokyonight-moon-info: #0db9d7;
  --color-tokyonight-moon-magenta: #c099ff;
  --color-tokyonight-moon-magenta2: #ff007c;
  --color-tokyonight-moon-none: NONE;
  --color-tokyonight-moon-orange: #ff966c;
  --color-tokyonight-moon-purple: #fca7ea;
  --color-tokyonight-moon-rainbow-1: #82aaff;
  --color-tokyonight-moon-rainbow-2: #ffc777;
  --color-tokyonight-moon-rainbow-3: #c3e88d;
  --color-tokyonight-moon-rainbow-4: #4fd6be;
  --color-tokyonight-moon-rainbow-5: #c099ff;
  --color-tokyonight-moon-rainbow-6: #fca7ea;
  --color-tokyonight-moon-rainbow-7: #ff966c;
  --color-tokyonight-moon-rainbow-8: #ff757f;
  --color-tokyonight-moon-red: #ff757f;
  --color-tokyonight-moon-red1: #c53b53;
  --color-tokyonight-moon-teal: #4fd6be;
  --color-tokyonight-moon-terminal-black: #444a73;
  --color-tokyonight-moon-terminal-black-bright: #444a73;
  --color-tokyonight-moon-terminal-blue: #82aaff;
  --color-tokyonight-moon-terminal-blue-bright: #9ab8ff;
  --color-tokyonight-moon-terminal-cyan: #86e1fc;
  --color-tokyonight-moon-terminal-cyan-bright: #b2ebff;
  --color-tokyonight-moon-terminal-green: #c3e88d;
  --color-tokyonight-moon-terminal-green-bright: #c7fb6d;
  --color-tokyonight-moon-terminal-magenta: #c099ff;
  --color-tokyonight-moon-terminal-magenta-bright: #caabff;
  --color-tokyonight-moon-terminal-red: #ff757f;
  --color-tokyonight-moon-terminal-red-bright: #ff8d94;
  --color-tokyonight-moon-terminal-white: #828bb8;
  --color-tokyonight-moon-terminal-white-bright: #c8d3f5;
  --color-tokyonight-moon-terminal-yellow: #ffc777;
  --color-tokyonight-moon-terminal-yellow-bright: #ffd8ab;
  --color-tokyonight-moon-todo: #82aaff;
  --color-tokyonight-moon-warning: #ffc777;
  --color-tokyonight-moon-yellow: #ffc777;

  --color-tokyonight-night-bg: #1a1b26;
  --color-tokyonight-night-bg-dark: #16161e;
  --color-tokyonight-night-bg-dark1: #0c0e14;
  --color-tokyonight-night-bg-float: #16161e;
  --color-tokyonight-night-bg-highlight: #292e42;
  --color-tokyonight-night-bg-popup: #16161e;
  --color-tokyonight-night-bg-search: #3d59a1;
  --color-tokyonight-night-bg-sidebar: #16161e;
  --color-tokyonight-night-bg-statusline: #16161e;
  --color-tokyonight-night-bg-visual: #283457;
  --color-tokyonight-night-black: #15161e;
  --color-tokyonight-night-blue: #7aa2f7;
  --color-tokyonight-night-blue0: #3d59a1;
  --color-tokyonight-night-blue1: #2ac3de;
  --color-tokyonight-night-blue2: #0db9d7;
  --color-tokyonight-night-blue5: #89ddff;
  --color-tokyonight-night-blue6: #b4f9f8;
  --color-tokyonight-night-blue7: #394b70;
  --color-tokyonight-night-border: #15161e;
  --color-tokyonight-night-border-highlight: #27a1b9;
  --color-tokyonight-night-comment: #565f89;
  --color-tokyonight-night-cyan: #7dcfff;
  --color-tokyonight-night-dark3: #545c7e;
  --color-tokyonight-night-dark5: #737aa2;
  --color-tokyonight-night-diff-add: #20303b;
  --color-tokyonight-night-diff-change: #1f2231;
  --color-tokyonight-night-diff-delete: #37222c;
  --color-tokyonight-night-diff-text: #394b70;
  --color-tokyonight-night-error: #db4b4b;
  --color-tokyonight-night-fg: #c0caf5;
  --color-tokyonight-night-fg-dark: #a9b1d6;
  --color-tokyonight-night-fg-float: #c0caf5;
  --color-tokyonight-night-fg-gutter: #3b4261;
  --color-tokyonight-night-fg-sidebar: #a9b1d6;
  --color-tokyonight-night-git-add: #449dab;
  --color-tokyonight-night-git-change: #6183bb;
  --color-tokyonight-night-git-delete: #914c54;
  --color-tokyonight-night-git-ignore: #545c7e;
  --color-tokyonight-night-green: #9ece6a;
  --color-tokyonight-night-green1: #73daca;
  --color-tokyonight-night-green2: #41a6b5;
  --color-tokyonight-night-hint: #1abc9c;
  --color-tokyonight-night-info: #0db9d7;
  --color-tokyonight-night-magenta: #bb9af7;
  --color-tokyonight-night-magenta2: #ff007c;
  --color-tokyonight-night-none: NONE;
  --color-tokyonight-night-orange: #ff9e64;
  --color-tokyonight-night-purple: #9d7cd8;
  --color-tokyonight-night-rainbow-1: #7aa2f7;
  --color-tokyonight-night-rainbow-2: #e0af68;
  --color-tokyonight-night-rainbow-3: #9ece6a;
  --color-tokyonight-night-rainbow-4: #1abc9c;
  --color-tokyonight-night-rainbow-5: #bb9af7;
  --color-tokyonight-night-rainbow-6: #9d7cd8;
  --color-tokyonight-night-rainbow-7: #ff9e64;
  --color-tokyonight-night-rainbow-8: #f7768e;
  --color-tokyonight-night-red: #f7768e;
  --color-tokyonight-night-red1: #db4b4b;
  --color-tokyonight-night-teal: #1abc9c;
  --color-tokyonight-night-terminal-black: #414868;
  --color-tokyonight-night-terminal-black-bright: #414868;
  --color-tokyonight-night-terminal-blue: #7aa2f7;
  --color-tokyonight-night-terminal-blue-bright: #8db0ff;
  --color-tokyonight-night-terminal-cyan: #7dcfff;
  --color-tokyonight-night-terminal-cyan-bright: #a4daff;
  --color-tokyonight-night-terminal-green: #9ece6a;
  --color-tokyonight-night-terminal-green-bright: #9fe044;
  --color-tokyonight-night-terminal-magenta: #bb9af7;
  --color-tokyonight-night-terminal-magenta-bright: #c7a9ff;
  --color-tokyonight-night-terminal-red: #f7768e;
  --color-tokyonight-night-terminal-red-bright: #ff899d;
  --color-tokyonight-night-terminal-white: #a9b1d6;
  --color-tokyonight-night-terminal-white-bright: #c0caf5;
  --color-tokyonight-night-terminal-yellow: #e0af68;
  --color-tokyonight-night-terminal-yellow-bright: #faba4a;
  --color-tokyonight-night-todo: #7aa2f7;
  --color-tokyonight-night-warning: #e0af68;
  --color-tokyonight-night-yellow: #e0af68;

  --color-tokyonight-storm-bg: #24283b;
  --color-tokyonight-storm-bg-dark: #1f2335;
  --color-tokyonight-storm-bg-dark1: #1b1e2d;
  --color-tokyonight-storm-bg-float: #1f2335;
  --color-tokyonight-storm-bg-highlight: #292e42;
  --color-tokyonight-storm-bg-popup: #1f2335;
  --color-tokyonight-storm-bg-search: #3d59a1;
  --color-tokyonight-storm-bg-sidebar: #1f2335;
  --color-tokyonight-storm-bg-statusline: #1f2335;
  --color-tokyonight-storm-bg-visual: #2e3c64;
  --color-tokyonight-storm-black: #1d202f;
  --color-tokyonight-storm-blue: #7aa2f7;
  --color-tokyonight-storm-blue0: #3d59a1;
  --color-tokyonight-storm-blue1: #2ac3de;
  --color-tokyonight-storm-blue2: #0db9d7;
  --color-tokyonight-storm-blue5: #89ddff;
  --color-tokyonight-storm-blue6: #b4f9f8;
  --color-tokyonight-storm-blue7: #394b70;
  --color-tokyonight-storm-border: #1d202f;
  --color-tokyonight-storm-border-highlight: #29a4bd;
  --color-tokyonight-storm-comment: #565f89;
  --color-tokyonight-storm-cyan: #7dcfff;
  --color-tokyonight-storm-dark3: #545c7e;
  --color-tokyonight-storm-dark5: #737aa2;
  --color-tokyonight-storm-diff-add: #283b4d;
  --color-tokyonight-storm-diff-change: #272d43;
  --color-tokyonight-storm-diff-delete: #3f2d3d;
  --color-tokyonight-storm-diff-text: #394b70;
  --color-tokyonight-storm-error: #db4b4b;
  --color-tokyonight-storm-fg: #c0caf5;
  --color-tokyonight-storm-fg-dark: #a9b1d6;
  --color-tokyonight-storm-fg-float: #c0caf5;
  --color-tokyonight-storm-fg-gutter: #3b4261;
  --color-tokyonight-storm-fg-sidebar: #a9b1d6;
  --color-tokyonight-storm-git-add: #449dab;
  --color-tokyonight-storm-git-change: #6183bb;
  --color-tokyonight-storm-git-delete: #914c54;
  --color-tokyonight-storm-git-ignore: #545c7e;
  --color-tokyonight-storm-green: #9ece6a;
  --color-tokyonight-storm-green1: #73daca;
  --color-tokyonight-storm-green2: #41a6b5;
  --color-tokyonight-storm-hint: #1abc9c;
  --color-tokyonight-storm-info: #0db9d7;
  --color-tokyonight-storm-magenta: #bb9af7;
  --color-tokyonight-storm-magenta2: #ff007c;
  --color-tokyonight-storm-none: NONE;
  --color-tokyonight-storm-orange: #ff9e64;
  --color-tokyonight-storm-purple: #9d7cd8;
  --color-tokyonight-storm-rainbow-1: #7aa2f7;
  --color-tokyonight-storm-rainbow-2: #e0af68;
  --color-tokyonight-storm-rainbow-3: #9ece6a;
  --color-tokyonight-storm-rainbow-4: #1abc9c;
  --color-tokyonight-storm-rainbow-5: #bb9af7;
  --color-tokyonight-storm-rainbow-6: #9d7cd8;
  --color-tokyonight-storm-rainbow-7: #ff9e64;
  --color-tokyonight-storm-rainbow-8: #f7768e;
  --color-tokyonight-storm-red: #f7768e;
  --color-tokyonight-storm-red1: #db4b4b;
  --color-tokyonight-storm-teal: #1abc9c;
  --color-tokyonight-storm-terminal-black: #414868;
  --color-tokyonight-storm-terminal-black-bright: #414868;
  --color-tokyonight-storm-terminal-blue: #7aa2f7;
  --color-tokyonight-storm-terminal-blue-bright: #8db0ff;
  --color-tokyonight-storm-terminal-cyan: #7dcfff;
  --color-tokyonight-storm-terminal-cyan-bright: #a4daff;
  --color-tokyonight-storm-terminal-green: #9ece6a;
  --color-tokyonight-storm-terminal-green-bright: #9fe044;
  --color-tokyonight-storm-terminal-magenta: #bb9af7;
  --color-tokyonight-storm-terminal-magenta-bright: #c7a9ff;
  --color-tokyonight-storm-terminal-red: #f7768e;
  --color-tokyonight-storm-terminal-red-bright: #ff899d;
  --color-tokyonight-storm-terminal-white: #a9b1d6;
  --color-tokyonight-storm-terminal-white-bright: #c0caf5;
  --color-tokyonight-storm-terminal-yellow: #e0af68;
  --color-tokyonight-storm-terminal-yellow-bright: #faba4a;
  --color-tokyonight-storm-todo: #7aa2f7;
  --color-tokyonight-storm-warning: #e0af68;
  --color-tokyonight-storm-yellow: #e0af68;
}

@theme {
  --color-tokyonight-bg: var(--color-tokyonight-day-bg);
  --color-tokyonight-bg-dark: var(--color-tokyonight-day-bg-dark);
  --color-tokyonight-bg-dark1: var(--color-tokyonight-day-bg-dark1);
  --color-tokyonight-bg-float: var(--color-tokyonight-day-bg-float);
  --color-tokyonight-bg-highlight: var(--color-tokyonight-day-bg-highlight);
  --color-tokyonight-bg-popup: var(--color-tokyonight-day-bg-popup);
  --color-tokyonight-bg-search: var(--color-tokyonight-day-bg-search);
  --color-tokyonight-bg-sidebar: var(--color-tokyonight-day-bg-sidebar);
  --color-tokyonight-bg-statusline: var(--color-tokyonight-day-bg-statusline);
  --color-tokyonight-bg-visual: var(--color-tokyonight-day-bg-visual);
  --color-tokyonight-black: var(--color-tokyonight-day-black);
  --color-tokyonight-blue: var(--color-tokyonight-day-blue);
  --color-tokyonight-blue0: var(--color-tokyonight-day-blue0);
  --color-tokyonight-blue1: var(--color-tokyonight-day-blue1);
  --color-tokyonight-blue2: var(--color-tokyonight-day-blue2);
  --color-tokyonight-blue5: var(--color-tokyonight-day-blue5);
  --color-tokyonight-blue6: var(--color-tokyonight-day-blue6);
  --color-tokyonight-blue7: var(--color-tokyonight-day-blue7);
  --color-tokyonight-border: var(--color-tokyonight-day-border);
  --color-tokyonight-border-highlight: var(
    --color-tokyonight-day-border-highlight
  );
  --color-tokyonight-comment: var(--color-tokyonight-day-comment);
  --color-tokyonight-cyan: var(--color-tokyonight-day-cyan);
  --color-tokyonight-dark3: var(--color-tokyonight-day-dark3);
  --color-tokyonight-dark5: var(--color-tokyonight-day-dark5);
  --color-tokyonight-diff-add: var(--color-tokyonight-day-diff-add);
  --color-tokyonight-diff-change: var(--color-tokyonight-day-diff-change);
  --color-tokyonight-diff-delete: var(--color-tokyonight-day-diff-delete);
  --color-tokyonight-diff-text: var(--color-tokyonight-day-diff-text);
  --color-tokyonight-error: var(--color-tokyonight-day-error);
  --color-tokyonight-fg: var(--color-tokyonight-day-fg);
  --color-tokyonight-fg-dark: var(--color-tokyonight-day-fg-dark);
  --color-tokyonight-fg-float: var(--color-tokyonight-day-fg-float);
  --color-tokyonight-fg-gutter: var(--color-tokyonight-day-fg-gutter);
  --color-tokyonight-fg-sidebar: var(--color-tokyonight-day-fg-sidebar);
  --color-tokyonight-git-add: var(--color-tokyonight-day-git-add);
  --color-tokyonight-git-change: var(--color-tokyonight-day-git-change);
  --color-tokyonight-git-delete: var(--color-tokyonight-day-git-delete);
  --color-tokyonight-git-ignore: var(--color-tokyonight-day-git-ignore);
  --color-tokyonight-green: var(--color-tokyonight-day-green);
  --color-tokyonight-green1: var(--color-tokyonight-day-green1);
  --color-tokyonight-green2: var(--color-tokyonight-day-green2);
  --color-tokyonight-hint: var(--color-tokyonight-day-hint);
  --color-tokyonight-info: var(--color-tokyonight-day-info);
  --color-tokyonight-magenta: var(--color-tokyonight-day-magenta);
  --color-tokyonight-magenta2: var(--color-tokyonight-day-magenta2);
  --color-tokyonight-none: var(--color-tokyonight-day-none);
  --color-tokyonight-orange: var(--color-tokyonight-day-orange);
  --color-tokyonight-purple: var(--color-tokyonight-day-purple);
  --color-tokyonight-rainbow-1: var(--color-tokyonight-day-rainbow-1);
  --color-tokyonight-rainbow-2: var(--color-tokyonight-day-rainbow-2);
  --color-tokyonight-rainbow-3: var(--color-tokyonight-day-rainbow-3);
  --color-tokyonight-rainbow-4: var(--color-tokyonight-day-rainbow-4);
  --color-tokyonight-rainbow-5: var(--color-tokyonight-day-rainbow-5);
  --color-tokyonight-rainbow-6: var(--color-tokyonight-day-rainbow-6);
  --color-tokyonight-rainbow-7: var(--color-tokyonight-day-rainbow-7);
  --color-tokyonight-rainbow-8: var(--color-tokyonight-day-rainbow-8);
  --color-tokyonight-red: var(--color-tokyonight-day-red);
  --color-tokyonight-red1: var(--color-tokyonight-day-red1);
  --color-tokyonight-teal: var(--color-tokyonight-day-teal);
  --color-tokyonight-terminal-black: var(--color-tokyonight-day-terminal-black);
  --color-tokyonight-terminal-black-bright: var(
    --color-tokyonight-day-terminal-black-bright
  );
  --color-tokyonight-terminal-blue: var(--color-tokyonight-day-terminal-blue);
  --color-tokyonight-terminal-blue-bright: var(
    --color-tokyonight-day-terminal-blue-bright
  );
  --color-tokyonight-terminal-cyan: var(--color-tokyonight-day-terminal-cyan);
  --color-tokyonight-terminal-cyan-bright: var(
    --color-tokyonight-day-terminal-cyan-bright
  );
  --color-tokyonight-terminal-green: var(--color-tokyonight-day-terminal-green);
  --color-tokyonight-terminal-green-bright: var(
    --color-tokyonight-day-terminal-green-bright
  );
  --color-tokyonight-terminal-magenta: var(
    --color-tokyonight-day-terminal-magenta
  );
  --color-tokyonight-terminal-magenta-bright: var(
    --color-tokyonight-day-terminal-magenta-bright
  );
  --color-tokyonight-terminal-red: var(--color-tokyonight-day-terminal-red);
  --color-tokyonight-terminal-red-bright: var(
    --color-tokyonight-day-terminal-red-bright
  );
  --color-tokyonight-terminal-white: var(--color-tokyonight-day-terminal-white);
  --color-tokyonight-terminal-white-bright: var(
    --color-tokyonight-day-terminal-white-bright
  );
  --color-tokyonight-terminal-yellow: var(
    --color-tokyonight-day-terminal-yellow
  );
  --color-tokyonight-terminal-yellow-bright: var(
    --color-tokyonight-day-terminal-yellow-bright
  );
  --color-tokyonight-todo: var(--color-tokyonight-day-todo);
  --color-tokyonight-warning: var(--color-tokyonight-day-warning);
  --color-tokyonight-yellow: var(--color-tokyonight-day-yellow);
}

@variant dark {
  @theme {
    --color-tokyonight-bg: var(--color-tokyonight-moon-bg);
    --color-tokyonight-bg-dark: var(--color-tokyonight-moon-bg-dark);
    --color-tokyonight-bg-dark1: var(--color-tokyonight-moon-bg-dark1);
    --color-tokyonight-bg-float: var(--color-tokyonight-moon-bg-float);
    --color-tokyonight-bg-highlight: var(--color-tokyonight-moon-bg-highlight);
    --color-tokyonight-bg-popup: var(--color-tokyonight-moon-bg-popup);
    --color-tokyonight-bg-search: var(--color-tokyonight-moon-bg-search);
    --color-tokyonight-bg-sidebar: var(--color-tokyonight-moon-bg-sidebar);
    --color-tokyonight-bg-statusline: var(--color-tokyonight-moon-bg-statusline);
    --color-tokyonight-bg-visual: var(--color-tokyonight-moon-bg-visual);
    --color-tokyonight-black: var(--color-tokyonight-moon-black);
    --color-tokyonight-blue: var(--color-tokyonight-moon-blue);
    --color-tokyonight-blue0: var(--color-tokyonight-moon-blue0);
    --color-tokyonight-blue1: var(--color-tokyonight-moon-blue1);
    --color-tokyonight-blue2: var(--color-tokyonight-moon-blue2);
    --color-tokyonight-blue5: var(--color-tokyonight-moon-blue5);
    --color-tokyonight-blue6: var(--color-tokyonight-moon-blue6);
    --color-tokyonight-blue7: var(--color-tokyonight-moon-blue7);
    --color-tokyonight-border: var(--color-tokyonight-moon-border);
    --color-tokyonight-border-highlight: var(
      --color-tokyonight-moon-border-highlight
    );
    --color-tokyonight-comment: var(--color-tokyonight-moon-comment);
    --color-tokyonight-cyan: var(--color-tokyonight-moon-cyan);
    --color-tokyonight-dark3: var(--color-tokyonight-moon-dark3);
    --color-tokyonight-dark5: var(--color-tokyonight-moon-dark5);
    --color-tokyonight-diff-add: var(--color-tokyonight-moon-diff-add);
    --color-tokyonight-diff-change: var(--color-tokyonight-moon-diff-change);
    --color-tokyonight-diff-delete: var(--color-tokyonight-moon-diff-delete);
    --color-tokyonight-diff-text: var(--color-tokyonight-moon-diff-text);
    --color-tokyonight-error: var(--color-tokyonight-moon-error);
    --color-tokyonight-fg: var(--color-tokyonight-moon-fg);
    --color-tokyonight-fg-dark: var(--color-tokyonight-moon-fg-dark);
    --color-tokyonight-fg-float: var(--color-tokyonight-moon-fg-float);
    --color-tokyonight-fg-gutter: var(--color-tokyonight-moon-fg-gutter);
    --color-tokyonight-fg-sidebar: var(--color-tokyonight-moon-fg-sidebar);
    --color-tokyonight-git-add: var(--color-tokyonight-moon-git-add);
    --color-tokyonight-git-change: var(--color-tokyonight-moon-git-change);
    --color-tokyonight-git-delete: var(--color-tokyonight-moon-git-delete);
    --color-tokyonight-git-ignore: var(--color-tokyonight-moon-git-ignore);
    --color-tokyonight-green: var(--color-tokyonight-moon-green);
    --color-tokyonight-green1: var(--color-tokyonight-moon-green1);
    --color-tokyonight-green2: var(--color-tokyonight-moon-green2);
    --color-tokyonight-hint: var(--color-tokyonight-moon-hint);
    --color-tokyonight-info: var(--color-tokyonight-moon-info);
    --color-tokyonight-magenta: var(--color-tokyonight-moon-magenta);
    --color-tokyonight-magenta2: var(--color-tokyonight-moon-magenta2);
    --color-tokyonight-none: var(--color-tokyonight-moon-none);
    --color-tokyonight-orange: var(--color-tokyonight-moon-orange);
    --color-tokyonight-purple: var(--color-tokyonight-moon-purple);
    --color-tokyonight-rainbow-1: var(--color-tokyonight-moon-rainbow-1);
    --color-tokyonight-rainbow-2: var(--color-tokyonight-moon-rainbow-2);
    --color-tokyonight-rainbow-3: var(--color-tokyonight-moon-rainbow-3);
    --color-tokyonight-rainbow-4: var(--color-tokyonight-moon-rainbow-4);
    --color-tokyonight-rainbow-5: var(--color-tokyonight-moon-rainbow-5);
    --color-tokyonight-rainbow-6: var(--color-tokyonight-moon-rainbow-6);
    --color-tokyonight-rainbow-7: var(--color-tokyonight-moon-rainbow-7);
    --color-tokyonight-rainbow-8: var(--color-tokyonight-moon-rainbow-8);
    --color-tokyonight-red: var(--color-tokyonight-moon-red);
    --color-tokyonight-red1: var(--color-tokyonight-moon-red1);
    --color-tokyonight-teal: var(--color-tokyonight-moon-teal);
    --color-tokyonight-terminal-black: var(
      --color-tokyonight-moon-terminal-black
    );
    --color-tokyonight-terminal-black-bright: var(
      --color-tokyonight-moon-terminal-black-bright
    );
    --color-tokyonight-terminal-blue: var(--color-tokyonight-moon-terminal-blue);
    --color-tokyonight-terminal-blue-bright: var(
      --color-tokyonight-moon-terminal-blue-bright
    );
    --color-tokyonight-terminal-cyan: var(--color-tokyonight-moon-terminal-cyan);
    --color-tokyonight-terminal-cyan-bright: var(
      --color-tokyonight-moon-terminal-cyan-bright
    );
    --color-tokyonight-terminal-green: var(
      --color-tokyonight-moon-terminal-green
    );
    --color-tokyonight-terminal-green-bright: var(
      --color-tokyonight-moon-terminal-green-bright
    );
    --color-tokyonight-terminal-magenta: var(
      --color-tokyonight-moon-terminal-magenta
    );
    --color-tokyonight-terminal-magenta-bright: var(
      --color-tokyonight-moon-terminal-magenta-bright
    );
    --color-tokyonight-terminal-red: var(--color-tokyonight-moon-terminal-red);
    --color-tokyonight-terminal-red-bright: var(
      --color-tokyonight-moon-terminal-red-bright
    );
    --color-tokyonight-terminal-white: var(
      --color-tokyonight-moon-terminal-white
    );
    --color-tokyonight-terminal-white-bright: var(
      --color-tokyonight-moon-terminal-white-bright
    );
    --color-tokyonight-terminal-yellow: var(
      --color-tokyonight-moon-terminal-yellow
    );
    --color-tokyonight-terminal-yellow-bright: var(
      --color-tokyonight-moon-terminal-yellow-bright
    );
    --color-tokyonight-todo: var(--color-tokyonight-moon-todo);
    --color-tokyonight-warning: var(--color-tokyonight-moon-warning);
    --color-tokyonight-yellow: var(--color-tokyonight-moon-yellow);
  }
}
