@theme {
  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);

  --tokyonight-day-bg: #e1e2e7;
  --tokyonight-day-bg-dark: #d0d5e3;
  --tokyonight-day-bg-dark1: #c1c9df;
  --tokyonight-day-bg-float: #d0d5e3;
  --tokyonight-day-bg-highlight: #c4c8da;
  --tokyonight-day-bg-popup: #d0d5e3;
  --tokyonight-day-bg-search: #7890dd;
  --tokyonight-day-bg-sidebar: #d0d5e3;
  --tokyonight-day-bg-statusline: #d0d5e3;
  --tokyonight-day-bg-visual: #b7c1e3;
  --tokyonight-day-black: #b4b5b9;
  --tokyonight-day-blue: #2e7de9;
  --tokyonight-day-blue0: #7890dd;
  --tokyonight-day-blue1: #188092;
  --tokyonight-day-blue2: #07879d;
  --tokyonight-day-blue5: #006a83;
  --tokyonight-day-blue6: #2e5857;
  --tokyonight-day-blue7: #92a6d5;
  --tokyonight-day-border: #b4b5b9;
  --tokyonight-day-border-highlight: #4094a3;
  --tokyonight-day-comment: #848cb5;
  --tokyonight-day-cyan: #007197;
  --tokyonight-day-dark3: #8990b3;
  --tokyonight-day-dark5: #68709a;
  --tokyonight-day-diff-add: #c8d6dc;
  --tokyonight-day-diff-change: #d5d9e4;
  --tokyonight-day-diff-delete: #ddcace;
  --tokyonight-day-diff-text: #92a6d5;
  --tokyonight-day-error: #c64343;
  --tokyonight-day-fg: #3760bf;
  --tokyonight-day-fg-dark: #6172b0;
  --tokyonight-day-fg-float: #3760bf;
  --tokyonight-day-fg-gutter: #a8aecb;
  --tokyonight-day-fg-sidebar: #6172b0;
  --tokyonight-day-git-add: #4197a4;
  --tokyonight-day-git-change: #506d9c;
  --tokyonight-day-git-delete: #c47981;
  --tokyonight-day-git-ignore: #8990b3;
  --tokyonight-day-green: #587539;
  --tokyonight-day-green1: #387068;
  --tokyonight-day-green2: #38919f;
  --tokyonight-day-hint: #118c74;
  --tokyonight-day-info: #07879d;
  --tokyonight-day-magenta: #9854f1;
  --tokyonight-day-magenta2: #d20065;
  --tokyonight-day-none: NONE;
  --tokyonight-day-orange: #b15c00;
  --tokyonight-day-purple: #7847bd;
  --tokyonight-day-rainbow-1: #2e7de9;
  --tokyonight-day-rainbow-2: #8c6c3e;
  --tokyonight-day-rainbow-3: #587539;
  --tokyonight-day-rainbow-4: #118c74;
  --tokyonight-day-rainbow-5: #9854f1;
  --tokyonight-day-rainbow-6: #7847bd;
  --tokyonight-day-rainbow-7: #b15c00;
  --tokyonight-day-rainbow-8: #f52a65;
  --tokyonight-day-red: #f52a65;
  --tokyonight-day-red1: #c64343;
  --tokyonight-day-teal: #118c74;
  --tokyonight-day-terminal-black: #a1a6c5;
  --tokyonight-day-terminal-black-bright: #a1a6c5;
  --tokyonight-day-terminal-blue: #2e7de9;
  --tokyonight-day-terminal-blue-bright: #358aff;
  --tokyonight-day-terminal-cyan: #007197;
  --tokyonight-day-terminal-cyan-bright: #007ea8;
  --tokyonight-day-terminal-green: #587539;
  --tokyonight-day-terminal-green-bright: #5c8524;
  --tokyonight-day-terminal-magenta: #9854f1;
  --tokyonight-day-terminal-magenta-bright: #a463ff;
  --tokyonight-day-terminal-red: #f52a65;
  --tokyonight-day-terminal-red-bright: #ff4774;
  --tokyonight-day-terminal-white: #6172b0;
  --tokyonight-day-terminal-white-bright: #3760bf;
  --tokyonight-day-terminal-yellow: #8c6c3e;
  --tokyonight-day-terminal-yellow-bright: #a27629;
  --tokyonight-day-todo: #2e7de9;
  --tokyonight-day-warning: #8c6c3e;
  --tokyonight-day-yellow: #8c6c3e;

  --tokyonight-moon-bg: #222436;
  --tokyonight-moon-bg-dark: #1e2030;
  --tokyonight-moon-bg-dark1: #191b29;
  --tokyonight-moon-bg-float: #1e2030;
  --tokyonight-moon-bg-highlight: #2f334d;
  --tokyonight-moon-bg-popup: #1e2030;
  --tokyonight-moon-bg-search: #3e68d7;
  --tokyonight-moon-bg-sidebar: #1e2030;
  --tokyonight-moon-bg-statusline: #1e2030;
  --tokyonight-moon-bg-visual: #2d3f76;
  --tokyonight-moon-black: #1b1d2b;
  --tokyonight-moon-blue: #82aaff;
  --tokyonight-moon-blue0: #3e68d7;
  --tokyonight-moon-blue1: #65bcff;
  --tokyonight-moon-blue2: #0db9d7;
  --tokyonight-moon-blue5: #89ddff;
  --tokyonight-moon-blue6: #b4f9f8;
  --tokyonight-moon-blue7: #394b70;
  --tokyonight-moon-border: #1b1d2b;
  --tokyonight-moon-border-highlight: #589ed7;
  --tokyonight-moon-comment: #636da6;
  --tokyonight-moon-cyan: #86e1fc;
  --tokyonight-moon-dark3: #545c7e;
  --tokyonight-moon-dark5: #737aa2;
  --tokyonight-moon-diff-add: #273849;
  --tokyonight-moon-diff-change: #252a3f;
  --tokyonight-moon-diff-delete: #3a273a;
  --tokyonight-moon-diff-text: #394b70;
  --tokyonight-moon-error: #c53b53;
  --tokyonight-moon-fg: #c8d3f5;
  --tokyonight-moon-fg-dark: #828bb8;
  --tokyonight-moon-fg-float: #c8d3f5;
  --tokyonight-moon-fg-gutter: #3b4261;
  --tokyonight-moon-fg-sidebar: #828bb8;
  --tokyonight-moon-git-add: #b8db87;
  --tokyonight-moon-git-change: #7ca1f2;
  --tokyonight-moon-git-delete: #e26a75;
  --tokyonight-moon-git-ignore: #545c7e;
  --tokyonight-moon-green: #c3e88d;
  --tokyonight-moon-green1: #4fd6be;
  --tokyonight-moon-green2: #41a6b5;
  --tokyonight-moon-hint: #4fd6be;
  --tokyonight-moon-info: #0db9d7;
  --tokyonight-moon-magenta: #c099ff;
  --tokyonight-moon-magenta2: #ff007c;
  --tokyonight-moon-none: NONE;
  --tokyonight-moon-orange: #ff966c;
  --tokyonight-moon-purple: #fca7ea;
  --tokyonight-moon-rainbow-1: #82aaff;
  --tokyonight-moon-rainbow-2: #ffc777;
  --tokyonight-moon-rainbow-3: #c3e88d;
  --tokyonight-moon-rainbow-4: #4fd6be;
  --tokyonight-moon-rainbow-5: #c099ff;
  --tokyonight-moon-rainbow-6: #fca7ea;
  --tokyonight-moon-rainbow-7: #ff966c;
  --tokyonight-moon-rainbow-8: #ff757f;
  --tokyonight-moon-red: #ff757f;
  --tokyonight-moon-red1: #c53b53;
  --tokyonight-moon-teal: #4fd6be;
  --tokyonight-moon-terminal-black: #444a73;
  --tokyonight-moon-terminal-black-bright: #444a73;
  --tokyonight-moon-terminal-blue: #82aaff;
  --tokyonight-moon-terminal-blue-bright: #9ab8ff;
  --tokyonight-moon-terminal-cyan: #86e1fc;
  --tokyonight-moon-terminal-cyan-bright: #b2ebff;
  --tokyonight-moon-terminal-green: #c3e88d;
  --tokyonight-moon-terminal-green-bright: #c7fb6d;
  --tokyonight-moon-terminal-magenta: #c099ff;
  --tokyonight-moon-terminal-magenta-bright: #caabff;
  --tokyonight-moon-terminal-red: #ff757f;
  --tokyonight-moon-terminal-red-bright: #ff8d94;
  --tokyonight-moon-terminal-white: #828bb8;
  --tokyonight-moon-terminal-white-bright: #c8d3f5;
  --tokyonight-moon-terminal-yellow: #ffc777;
  --tokyonight-moon-terminal-yellow-bright: #ffd8ab;
  --tokyonight-moon-todo: #82aaff;
  --tokyonight-moon-warning: #ffc777;
  --tokyonight-moon-yellow: #ffc777;

  --tokyonight-night-bg: #1a1b26;
  --tokyonight-night-bg-dark: #16161e;
  --tokyonight-night-bg-dark1: #0c0e14;
  --tokyonight-night-bg-float: #16161e;
  --tokyonight-night-bg-highlight: #292e42;
  --tokyonight-night-bg-popup: #16161e;
  --tokyonight-night-bg-search: #3d59a1;
  --tokyonight-night-bg-sidebar: #16161e;
  --tokyonight-night-bg-statusline: #16161e;
  --tokyonight-night-bg-visual: #283457;
  --tokyonight-night-black: #15161e;
  --tokyonight-night-blue: #7aa2f7;
  --tokyonight-night-blue0: #3d59a1;
  --tokyonight-night-blue1: #2ac3de;
  --tokyonight-night-blue2: #0db9d7;
  --tokyonight-night-blue5: #89ddff;
  --tokyonight-night-blue6: #b4f9f8;
  --tokyonight-night-blue7: #394b70;
  --tokyonight-night-border: #15161e;
  --tokyonight-night-border-highlight: #27a1b9;
  --tokyonight-night-comment: #565f89;
  --tokyonight-night-cyan: #7dcfff;
  --tokyonight-night-dark3: #545c7e;
  --tokyonight-night-dark5: #737aa2;
  --tokyonight-night-diff-add: #20303b;
  --tokyonight-night-diff-change: #1f2231;
  --tokyonight-night-diff-delete: #37222c;
  --tokyonight-night-diff-text: #394b70;
  --tokyonight-night-error: #db4b4b;
  --tokyonight-night-fg: #c0caf5;
  --tokyonight-night-fg-dark: #a9b1d6;
  --tokyonight-night-fg-float: #c0caf5;
  --tokyonight-night-fg-gutter: #3b4261;
  --tokyonight-night-fg-sidebar: #a9b1d6;
  --tokyonight-night-git-add: #449dab;
  --tokyonight-night-git-change: #6183bb;
  --tokyonight-night-git-delete: #914c54;
  --tokyonight-night-git-ignore: #545c7e;
  --tokyonight-night-green: #9ece6a;
  --tokyonight-night-green1: #73daca;
  --tokyonight-night-green2: #41a6b5;
  --tokyonight-night-hint: #1abc9c;
  --tokyonight-night-info: #0db9d7;
  --tokyonight-night-magenta: #bb9af7;
  --tokyonight-night-magenta2: #ff007c;
  --tokyonight-night-none: NONE;
  --tokyonight-night-orange: #ff9e64;
  --tokyonight-night-purple: #9d7cd8;
  --tokyonight-night-rainbow-1: #7aa2f7;
  --tokyonight-night-rainbow-2: #e0af68;
  --tokyonight-night-rainbow-3: #9ece6a;
  --tokyonight-night-rainbow-4: #1abc9c;
  --tokyonight-night-rainbow-5: #bb9af7;
  --tokyonight-night-rainbow-6: #9d7cd8;
  --tokyonight-night-rainbow-7: #ff9e64;
  --tokyonight-night-rainbow-8: #f7768e;
  --tokyonight-night-red: #f7768e;
  --tokyonight-night-red1: #db4b4b;
  --tokyonight-night-teal: #1abc9c;
  --tokyonight-night-terminal-black: #414868;
  --tokyonight-night-terminal-black-bright: #414868;
  --tokyonight-night-terminal-blue: #7aa2f7;
  --tokyonight-night-terminal-blue-bright: #8db0ff;
  --tokyonight-night-terminal-cyan: #7dcfff;
  --tokyonight-night-terminal-cyan-bright: #a4daff;
  --tokyonight-night-terminal-green: #9ece6a;
  --tokyonight-night-terminal-green-bright: #9fe044;
  --tokyonight-night-terminal-magenta: #bb9af7;
  --tokyonight-night-terminal-magenta-bright: #c7a9ff;
  --tokyonight-night-terminal-red: #f7768e;
  --tokyonight-night-terminal-red-bright: #ff899d;
  --tokyonight-night-terminal-white: #a9b1d6;
  --tokyonight-night-terminal-white-bright: #c0caf5;
  --tokyonight-night-terminal-yellow: #e0af68;
  --tokyonight-night-terminal-yellow-bright: #faba4a;
  --tokyonight-night-todo: #7aa2f7;
  --tokyonight-night-warning: #e0af68;
  --tokyonight-night-yellow: #e0af68;

  --tokyonight-storm-bg: #24283b;
  --tokyonight-storm-bg-dark: #1f2335;
  --tokyonight-storm-bg-dark1: #1b1e2d;
  --tokyonight-storm-bg-float: #1f2335;
  --tokyonight-storm-bg-highlight: #292e42;
  --tokyonight-storm-bg-popup: #1f2335;
  --tokyonight-storm-bg-search: #3d59a1;
  --tokyonight-storm-bg-sidebar: #1f2335;
  --tokyonight-storm-bg-statusline: #1f2335;
  --tokyonight-storm-bg-visual: #2e3c64;
  --tokyonight-storm-black: #1d202f;
  --tokyonight-storm-blue: #7aa2f7;
  --tokyonight-storm-blue0: #3d59a1;
  --tokyonight-storm-blue1: #2ac3de;
  --tokyonight-storm-blue2: #0db9d7;
  --tokyonight-storm-blue5: #89ddff;
  --tokyonight-storm-blue6: #b4f9f8;
  --tokyonight-storm-blue7: #394b70;
  --tokyonight-storm-border: #1d202f;
  --tokyonight-storm-border-highlight: #29a4bd;
  --tokyonight-storm-comment: #565f89;
  --tokyonight-storm-cyan: #7dcfff;
  --tokyonight-storm-dark3: #545c7e;
  --tokyonight-storm-dark5: #737aa2;
  --tokyonight-storm-diff-add: #283b4d;
  --tokyonight-storm-diff-change: #272d43;
  --tokyonight-storm-diff-delete: #3f2d3d;
  --tokyonight-storm-diff-text: #394b70;
  --tokyonight-storm-error: #db4b4b;
  --tokyonight-storm-fg: #c0caf5;
  --tokyonight-storm-fg-dark: #a9b1d6;
  --tokyonight-storm-fg-float: #c0caf5;
  --tokyonight-storm-fg-gutter: #3b4261;
  --tokyonight-storm-fg-sidebar: #a9b1d6;
  --tokyonight-storm-git-add: #449dab;
  --tokyonight-storm-git-change: #6183bb;
  --tokyonight-storm-git-delete: #914c54;
  --tokyonight-storm-git-ignore: #545c7e;
  --tokyonight-storm-green: #9ece6a;
  --tokyonight-storm-green1: #73daca;
  --tokyonight-storm-green2: #41a6b5;
  --tokyonight-storm-hint: #1abc9c;
  --tokyonight-storm-info: #0db9d7;
  --tokyonight-storm-magenta: #bb9af7;
  --tokyonight-storm-magenta2: #ff007c;
  --tokyonight-storm-none: NONE;
  --tokyonight-storm-orange: #ff9e64;
  --tokyonight-storm-purple: #9d7cd8;
  --tokyonight-storm-rainbow-1: #7aa2f7;
  --tokyonight-storm-rainbow-2: #e0af68;
  --tokyonight-storm-rainbow-3: #9ece6a;
  --tokyonight-storm-rainbow-4: #1abc9c;
  --tokyonight-storm-rainbow-5: #bb9af7;
  --tokyonight-storm-rainbow-6: #9d7cd8;
  --tokyonight-storm-rainbow-7: #ff9e64;
  --tokyonight-storm-rainbow-8: #f7768e;
  --tokyonight-storm-red: #f7768e;
  --tokyonight-storm-red1: #db4b4b;
  --tokyonight-storm-teal: #1abc9c;
  --tokyonight-storm-terminal-black: #414868;
  --tokyonight-storm-terminal-black-bright: #414868;
  --tokyonight-storm-terminal-blue: #7aa2f7;
  --tokyonight-storm-terminal-blue-bright: #8db0ff;
  --tokyonight-storm-terminal-cyan: #7dcfff;
  --tokyonight-storm-terminal-cyan-bright: #a4daff;
  --tokyonight-storm-terminal-green: #9ece6a;
  --tokyonight-storm-terminal-green-bright: #9fe044;
  --tokyonight-storm-terminal-magenta: #bb9af7;
  --tokyonight-storm-terminal-magenta-bright: #c7a9ff;
  --tokyonight-storm-terminal-red: #f7768e;
  --tokyonight-storm-terminal-red-bright: #ff899d;
  --tokyonight-storm-terminal-white: #a9b1d6;
  --tokyonight-storm-terminal-white-bright: #c0caf5;
  --tokyonight-storm-terminal-yellow: #e0af68;
  --tokyonight-storm-terminal-yellow-bright: #faba4a;
  --tokyonight-storm-todo: #7aa2f7;
  --tokyonight-storm-warning: #e0af68;
  --tokyonight-storm-yellow: #e0af68;
}
