a {
  color: inherit;
  font-weight: inherit;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: from-font;
  text-underline-offset: calc(var(--spacing) * 1);

  &:hover,
  &.ha:hover {
    color: var(--color-active);
    text-decoration: underline;
    text-decoration-color: var(--color-active);

    > code {
      color: inherit;
    }
  }
}

/* tailwind-typography plugin adds backticks here, let's remove them */
code {
  &::before,
  &::after {
    content: "" !important;
  }
}

sup {
  margin-left: calc(var(--spacing) * 1);

  > a {
    color: var(--color-tokyonight-fg);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

table caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}
