a {
  --color-hover: var(--color-tokyonight-day-red);

  @variant dark {
    --color-hover: var(--color-tokyonight-moon-red);
  }

  color: inherit;
  font-weight: inherit;
  text-decoration-color: var(--color);
  text-underline-offset: calc(var(--spacing) * 1.5);

  &.footnote-backref {
    color: var(--color);
    text-decoration: none;
    text-underline-offset: calc(var(--spacing) * 1);
  }

  &:hover {
    color: var(--color-hover);
    text-decoration-color: var(--color-hover);

    > code {
      color: inherit;
    }

    &,
    &.ha {
      text-decoration: underline;
    }
  }
}

/* tailwind-typography plugin adds backticks here, let's remove them */
code {
  &::before,
  &::after {
    content: "" !important;
  }
}

sup {
  margin: auto calc(var(--spacing) * 0.5);

  > a {
    color: var(--color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-underline-offset: calc(var(--spacing) * 1);
    }
  }
}

table caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}
