@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "./code.css";
@import "./colors.css";
@import "./layout.css";
@import "./theme.css";

.prose {
  @import "./prose.css";
}

heading-anchors:not(:defined) :is(h2, h3, h4, h5, h6):after {
  content: "#";
  padding: 0 .25em;
  opacity: 0;
}

heading-anchors .ha-placeholder,
heading-anchors .ha {
  padding-left: calc(var(--spacing) * 2);
}

heading-anchors .ha-placeholder {
  color: var(--color-gray-950) !important;

  @media (prefers-color-scheme: dark) {
    color: var(--color-gray-50) !important;
  }
}

.markdown-alert {
  --color-caution: var(--color-tokyonight-day-red);
  --color-caution-body: var(--color-red-950);

  --color-important: var(--color-tokyonight-day-magenta);
  --color-important-body: var(--color-purple-950);

  --color-note: var(--color-tokyonight-day-blue2);
  --color-note-body: var(--color-blue-950);

  --color-tip: var(--color-tokyonight-day-teal);
  --color-tip-body: var(--color-green-950);

  --color-warning: var(--color-tokyonight-day-yellow);
  --color-warning-body: var(--color-yellow-950);

  @variant dark {
    --color-caution: var(--color-tokyonight-moon-red);
    --color-caution-body: var(--color-red-50);

    --color-important: var(--color-tokyonight-moon-magenta);
    --color-important-body: var(--color-purple-50);

    --color-note: var(--color-tokyonight-moon-blue2);
    --color-note-body: var(--color-blue-50);

    --color-tip: var(--color-tokyonight-moon-teal);
    --color-tip-body: var(--color-green-50);

    --color-warning: var(--color-tokyonight-moon-yellow);
    --color-warning-body: var(--color-yellow-50);
  }

  border-left: .25em solid var(--color-gray-500);
  color: inherit;
  font-size: var(--text-sm);
  margin-bottom: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 4);
  padding-top: calc(var(--spacing) * 3);
  padding-inline-start: calc(var(--spacing) * 4);

  @variant xl {
    font-size: var(--text-base);
    padding-inline-start: calc(var(--spacing) * 6);
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  .markdown-alert-title {
    align-items: center;
    display: flex;
    font-size: var(--text-base);
    font-weight: 500;
    line-height: var(--text-base--line-height);

    @variant xl {
      font-size: var(--text-lg);
    }

    .octicon {
      margin-right: calc(var(--spacing) * 2);
      display: inline-block;
      overflow: visible;
      vertical-align: text-bottom;
      fill: currentColor;
    }
  }

  &.markdown-alert-caution {
    border-left-color: var(--color-caution);
    color: var(--color-warning-body);

    .markdown-alert-title {
      color: var(--color-caution);
    }
  }

  &.markdown-alert-important {
    border-left-color: var(--color-important);
    color: var(--color-important-body);

    .markdown-alert-title {
      color: var(--color-important);
    }
  }

  &.markdown-alert-note {
    border-left-color: var(--color-note);
    color: var(--color-note-body);

    .markdown-alert-title {
      color: var(--color-note);
    }
  }

  &.markdown-alert-tip {
    border-left-color: var(--color-tip);
    color: var(--color-tip-body);

    .markdown-alert-title {
      color: var(--color-tip);
    }
  }

  &.markdown-alert-warning {
    border-left-color: var(--color-warning);
    color: var(--color-warning-body);

    .markdown-alert-title {
      color: var(--color-warning);
    }
  }
}
