@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "./code.css";
@import "./colors.css";
@import "./layout.css";
@import "./theme.css";

.prose {
  @import "./prose.css";
}

heading-anchors:not(:defined) :is(h2, h3, h4, h5, h6):after {
  content: "#";
  padding: 0 .25em;
  opacity: 0;
}

heading-anchors .ha-placeholder,
heading-anchors .ha {
  padding-left: calc(var(--spacing) * 2);
}

heading-anchors .ha-placeholder {
  color: var(--color-gray-950) !important;

  @media (prefers-color-scheme: dark) {
    color: var(--color-gray-50) !important;
  }
}

.markdown-alert {
  border-left: .25em solid var(--color-gray-500);
  color: inherit;
  font-size: var(--text-sm);
  margin-bottom: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 4);
  padding-top: calc(var(--spacing) * 3);
  padding-inline-start: calc(var(--spacing) * 4);

  @variant xl {
    font-size: var(--text-base);
    padding-inline-start: calc(var(--spacing) * 6);
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  .markdown-alert-title {
    align-items: center;
    display: flex;
    font-size: var(--text-base);
    font-weight: 500;
    line-height: var(--text-base--line-height);

    @variant xl {
      font-size: var(--text-lg);
    }

    .octicon {
      margin-right: calc(var(--spacing) * 2);
      display: inline-block;
      overflow: visible;
      vertical-align: text-bottom;
      fill: currentColor;
    }
  }

  &.markdown-alert-note {
    --color: var(--color-tokyonight-blue2);

    border-left-color: var(--color);
    color: var(--color-blue-950);
    @variant dark {
      color: var(--color-blue-50);
    }
    .markdown-alert-title {
      color: var(--color);
    }
  }

  &.markdown-alert-important {
    --color: var(--color-tokyonight-magenta);

    border-left-color: var(--color);
    color: var(--color-purple-950);
    @variant dark {
      color: var(--color-purple-50);
    }
    .markdown-alert-title {
      color: var(--color);
    }
  }

  &.markdown-alert-warning {
    --color: var(--color-tokyonight-yellow);

    border-left-color: var(--color);
    color: var(--color-yellow-950);
    @variant dark {
      color: var(--color-yellow-50);
    }
    .markdown-alert-title {
      color: var(--color);
    }
  }

  &.markdown-alert-tip {
    --color: var(--color-tokyonight-teal);

    border-left-color: var(--color);
    color: var(--color-green-950);
    @variant dark {
      color: var(--color-green-50);
    }
    .markdown-alert-title {
      border-left-color: var(--color);
    }
  }

  &.markdown-alert-caution {
    --color: var(--color-tokyonight-red1);

    border-left-color: var(--color);
    color: var(--color-red-950);
    @variant dark {
      color: var(--color-red-50);
    }
    .markdown-alert-title {
      color: var(--color);
    }
  }
}
