<!doctype html>
<html lang="en-us" class="text-gray-950 bg-gray-50 dark:text-gray-50 dark:bg-gray-950">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or site.title }}</title>
		<meta name="description" content="{{ description or site.description }}">
    <meta name="author" content="{{ author or site.author }}">
		<meta name="generator" content="{{ eleventy.generator }}">
    <link rel="canonical" href="{{ page.url | htmlBaseUrl(site.url) }}">
		<link rel="alternate" href="/blog/feed/atom.xml" type="application/atom+xml" title="{{ site.title }}">
    <link rel="preload" href="/assets/fonts/BricolageGrotesque.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/InterVariable.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/InterVariable-Italic.woff2" as="font" type="font/woff2" crossorigin>
    {%- getBundle "html", "preload" %}
		<style>{% getBundle "css" %}</style>
    {%- css %}{% include "../_assets/css/fonts.css" %}{% endcss %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <script data-goatcounter="https://joshthomasdev.goatcounter.com/count"
            async
            src="//gc.zgo.at/count.js"></script>
    {%- js %}
      var t = setInterval(function() {
          if (window.goatcounter && window.goatcounter.visit_count) {
              clearInterval(t)
              window.goatcounter.visit_count({ append: '#pageStats' })
          }
      }, 100)
    {% endjs %}
    <link href="mailto:josh@joshthomas.dev" rel="me">
		<link href="https://github.com/joshuadavidthomas" rel="me">
		<link href="https://joshthomas.dev/@josh" rel="me">
		<link href="https://social.joshthomas.dev/@josh" rel="me">
	</head>
	<body class="px-2">
    <header class="flex justify-between items-baseline max-w-2xl mx-auto w-full">
      <div>
        <h1 class="text-2xl font-bold font-brico">
          <a href="/" preload="mouseover">Josh Thomas</a>
        </h1>
        {% set navPages = collections.all | eleventyNavigation %}
        <nav class="flex gap-4 items-center text-sm">
          {%- for entry in navPages %}
            <a href="{{ entry.url }}" class="uppercase hover:text-blue-500 hover:underline underline-offset-4 decoration-1{% if page.url | isActiveUrl(entry.url) %} text-blue-800 dark:text-blue-300 font-semibold underline{% endif %}">
              {{ entry.title }}
            </a>
          {%- endfor %}
          <a href=
        </nav>
      </div>
      <div class="flex items-center gap-2">
        {%- for item in site.social %}
          <a href={{ item.url }}>
            <span class="sr-only">{{ item.title }}</span>
            {{ item.icon | safe }}
          </a>
        {%- endfor %}
      </div>
    </header>
		<main id="skip" class="w-full">
      {{ content | safe }}
		</main>
    {% getBundle "fontawesome" %}
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
