---
layout: base
---

{%- js "modules" %}
  <script src="/static/js/heading-anchors.js" type="module"></script>
{%- endjs %}
<heading-anchors class="grid-layout px-2">
  <header class="flex justify-between items-baseline">
    <div>
      <h1 class="text-2xl font-bold font-brico">
        <a href="/">Josh Thomas</a>
      </h1>
      {% set mainNavPages = collections['main-nav'] | eleventyNavigation %}
      <nav class="flex gap-4 items-center text-sm" aria-labelledby="site-nav">
        <h2 id="site-nav" class="sr-only" data-ha-exclude>Main site navigation</h2>
        {%- for entry in mainNavPages %}
          <a href="{{ entry.url }}"
             class="uppercase underline-offset-4 hover:text-primary hover:decoration-primary hover:underline{% if page.url | isActiveUrl(entry.url) %} text-active decoration-active font-semibold underline{% endif %}">
            {{ entry.title }}
          </a>
        {%- endfor %}
      </nav>
    </div>
    <nav class="flex items-center gap-2" aria-labelledby="social-nav">
      <h2 id="social-nav" class="sr-only" data-ha-exclude>Social media</h2>
      {%- for item in site.social %}
        {%- set socialId = item.title | slugify -%}
        <a href="{{ item.url }}"
           target="_blank"
           rel="noopener noreferrer"
           aria-labelledby="{{ socialId }}-link">
          <span id="{{ socialId }}-link" class="sr-only">{{ item.title }}</span>
          {{ item.icon | safe }}
        </a>
      {%- endfor %}
    </nav>
  </header>
  <main id="skip"{%- if class.main -%} class="{{ class.main }}"{%- endif -%}>
    {{ content | safe }}
  </main>
  <footer class="mt-24 pb-4 text-xs">
    <hr class="mb-4 border-gray-400 dark:border-gray-600 border-t-px w-24 mx-auto" />
    <div class="flex items-center justify-between">
      {% set footerNavPages = collections['footer-nav'] | eleventyNavigation %}
      <nav class="flex gap-2 items-center uppercase" aria-labelledby="site-nav">
        <h2 id="site-nav" class="sr-only" data-ha-exclude>Secondary site navigation</h2>
        {%- for entry in footerNavPages %}
          <a href="{{ entry.url }}"
             class="underline-offset-4 hover:underline hover:text-primary hover:decoration-primary{% if page.url | isActiveUrl(entry.url) %} text-active decoration-active font-semibold underline{% endif %}">
            {{ entry.title }}
          </a>
        {%- endfor %}
      </nav>
      <div class="italic flex items-center gap-2">
        <span>Built with <a href="https://11ty.dev" class="underline-offset-4">{{ eleventy.generator }}</a></span>
        <span>·</span>
        <a href="{{ site.source }}/tree/main/{{ page.inputPath }}"
           class="underline-offset-4">Source</a>
      </div>
    </div>
  </footer>
</heading-anchors>
