---
layout: base
---

{%- js "modules" %}
  <script src="/static/js/heading-anchors.js" type="module"></script>
{%- endjs %}
<heading-anchors class="grid-layout px-2">
  <header class="flex justify-between items-baseline">
    <div>
      <h1 class="text-2xl font-bold font-brico">
        <a href="/">Josh Thomas</a>
      </h1>
      {% set mainNavPages = collections['main-nav'] | eleventyNavigation %}
      <nav class="flex gap-4 items-center text-sm" aria-labelledby="site-nav">
        <h2 id="site-nav" class="sr-only">Main site navigation</h2>
        {%- for entry in mainNavPages %}
          <a href="{{ entry.url }}"
             class="uppercase hover:text-blue-500 hover:underline underline-offset-4 decoration-1{% if page.url | isActiveUrl(entry.url) %} text-blue-800 dark:text-blue-300 font-semibold underline{% endif %}">
            {{ entry.title }}
          </a>
        {%- endfor %}
      </nav>
    </div>
    <nav class="flex items-center gap-2" aria-labelledby="social-nav">
      <h2 id="social-nav" class="sr-only">Social media</h2>
      {%- for item in site.social %}
        {%- set socialId = item.title | slugify -%}
        <a href="{{ item.url }}"
           target="_blank"
           rel="noopener noreferrer"
           aria-labelledby="{{ socialId }}-link">
          <span id="{{ socialId }}-link" class="sr-only">{{ item.title }}</span>
          {{ item.icon | safe }}
        </a>
      {%- endfor %}
    </nav>
  </header>
  <main id="skip"{%- if class.main -%} class="{{ class.main }}"{%- endif -%}>
    {{ content | safe }}
  </main>
  <footer class="mt-24 pb-4">
    <hr class="mb-4 border-gray-400 dark:border-gray-600 border-t-px w-16 mx-auto" />
    {% set footerNavPages = collections['footer-nav'] | eleventyNavigation %}
    <nav class="flex gap-4 items-center text-xs italic"
         aria-labelledby="site-nav">
      <h2 id="site-nav" class="sr-only">Secondary site navigation</h2>
      <span>Built with <a href="https://11ty.dev">{{ eleventy.generator }}</a></span>
      <span>·</span>
      {%- for entry in footerNavPages %}
        <a href="{{ entry.url }}"
           class="hover:text-blue-500 hover:underline underline-offset-4 decoration-1{% if page.url | isActiveUrl(entry.url) %} text-blue-800 dark:text-blue-300 font-semibold underline{% endif %}">
          {{ entry.title }}
        </a>
      {%- endfor %}
    </nav>
  </footer>
</heading-anchors>
