---
layout: base.njk
---
<header class="max-w-2xl mx-auto">
  <h2 class="text-3xl tracking-tight text-gray-800 sm:text-4xl dark:text-gray-100">
    {{ title }}
  </h2>
  <time datetime="{{ date | dateToHtmlString }}" class="flex items-baseline gap-2 mt-4 text-sm font-medium text-gray-700 dark:text-gray-200">
    <i class="fa-solid fa-calendar-day size-4 text-gray-700 dark:text-gray-300"></i>
    {{ date | dateToFormat("LLLL d, yyyy") }}
  </time>
</header>
<div class="max-w-none mt-6 prose xl:prose-xl dark:prose-invert grid grid-container-2xl prose-pre:grid-bleed-7xl prose-a:hover:text-blue-500">
  {{ content | safe }}
</div>
