---
layout: feed
eleventyExcludeFromCollections: true
feed:
  base: https://joshthomas.dev/blog/
  description: Latest entries posted to Josh Thomas's blog.
  title: Josh Thomas
permalink: /feeds/blog.xml
---
{% set collection_items = collections.posts %}