---
eleventyExcludeFromCollections: true
feed:
  base: https://joshthomas.dev/til/
  collection: collections.til
  description: Latest Today I Learned entries from Josh Thomas.
  title: Josh Thomas TIL
layout: feed
permalink: /til/feed/atom.xml
---

{% set collection_items = collections.til %}

