---
eleventyNavigation:
  key: Blog
  order: 2
layout: default
pagination:
  data: collections.blog
  size: 10
tags:
  - main-nav
---

<header class="flex">
  <h2 class="sr-only">Blog</h2>
  <a href="/blog/feed/" class="ml-auto flex items-center gap-1.5 group">
    <i class="fa-solid fa-rss size-4 xs:size-6 text-[#FFA500] group-hover:text-inherit"></i>
    Feed
  </a>
</header>
<div class="mt-4 space-y-12">
  {%- for entry in collections.blog | reverse -%}
    {%- set isPost = entry | hasTag("posts") -%}
    {%- set isTIL = entry | hasTag("til") -%}
    {%- set entryType %}{%- if isPost -%}post{%- elif isTIL -%}til{%- else -%}unknown{%- endif -%}{% endset -%}
    <article class="group relative{% if isTIL %} border-accent-r-tokyonight-day-blue2 dark:border-accent-r-tokyonight-moon-blue2{% endif %}"
             style="view-transition-name: entry-{{ entry.data.title | slugify }}"
             data-entry="{{ entryType }}">
      {% if isPost %}
        <time datetime="{{ entry.date | dateToHtmlString }}"
              class="mb-2 text-xs sm:text-sm text-gray-600 dark:text-gray-200">
          {{ entry.date | dateToFormat("LLLL d, yyyy") }}
        </time>
      {% endif %}
      <h3 class="font-semibold{%- if isTIL %} flex justify-between items-end gap-8 text-lg sm:text-xl text-gray-800 dark:text-gray-100{%- else -%}text-xl sm:text-2xl{%- endif -%}">
        <a href="{{ entry.url }}">
          <span class="absolute inset-0"></span>
          {{ entry.data.title | markdownify | safe }}
        </a>
        {%- if isTIL %}
          <div class="flex gap-3 shrink-0">
            <time datetime="{{ entry.date | dateToHtmlString }}"
                  class="text-xs sm:text-sm text-gray-600 font-normal dark:text-gray-300 shrink-0">
              {{ entry.date | dateToFormat("LLLL d, yyyy") }}
            </time>
            <span class="text-sm text-tokyonight-day-blue2 dark:text-tokyonight-moon-blue2 font-semibold">TIL</span>
          </div>
        {%- endif %}
      </h3>
      {%- if entry.data.summary %}
        <p class="mt-4 text-sm sm:text-base {% if isTIL %}text-gray-700 dark:text-gray-400{% else %}text-gray-600 dark:text-gray-300{% endif %}">
          {{ entry.data.summary }}
        </p>
      {%- endif %}
    </article>
  {%- endfor -%}
  {% if pagination.href.next or pagination.href.previous %}
    <nav class="flex justify-between items-center mt-8">
      <p class="text-sm text-gray-800 dark:text-gray-200">
        Page
        <span class="font-medium">{{ pagination.pageNumber + 1 }}</span>
        of
        <span class="font-medium">{{ pagination.pages.length }}</span>
      </p>
      <div class="flex gap-4 mt-1 text-sm">
        {% if pagination.href.previous %}
          <span class="flex items-center space-x-2">
            <a href="{{ pagination.href.first }}"
               data-direction="backwards"
               class="flex items-center hover:underline">first</a>
            <a href="{{ pagination.href.previous }}" class="hover:underline">previous</a>
          </span>
        {% endif %}
        {% if pagination.href.next %}
          <span class="flex items-center ml-auto space-x-2">
            <a href="{{ pagination.href.next }}" class="hover:underline">next</a>
            <a href="{{ pagination.href.last }}"
               class="flex items-center hover:underline">last</a>
          </span>
        {% endif %}
      </div>
    </nav>
  {%- endif %}
</div>
