---
eleventyNavigation:
  key: Blog
  order: 2
layout: default
pagination:
  data: collections.blog
  size: 10
tags:
  - main-nav
---

<header class="flex">
  <h2 class="sr-only">Blog</h2>
  <a href="/feeds/blog/"
     class="ml-auto flex items-center gap-1 group underline-offset-4">
    <i class="fa-solid fa-rss size-4 text-tokyonight-day-orange dark:text-tokyonight-moon-orange group-hover:text-inherit"></i>
    RSS
  </a>
</header>
<div class="mt-4 space-y-12">
  {%- for entry in collections.blog | reverse -%}
    {%- if entry | hasTag("posts") %}
      {% include "cards/post.html" %}
    {%- elif entry | hasTag("til") %}
      {% include "cards/til.html" %}
    {%- endif %}
  {%- endfor -%}
  {% if pagination.href.next or pagination.href.previous %}
    <nav class="flex justify-between items-center mt-8">
      <p class="text-sm text-gray-800 dark:text-gray-200">
        Page
        <span class="font-medium">{{ pagination.pageNumber + 1 }}</span>
        of
        <span class="font-medium">{{ pagination.pages.length }}</span>
      </p>
      <div class="flex gap-4 mt-1 text-sm">
        {% if pagination.href.previous %}
          <span class="flex items-center space-x-2">
            <a href="{{ pagination.href.first }}"
               data-direction="backwards"
               class="flex items-center hover:underline">first</a>
            <a href="{{ pagination.href.previous }}" class="hover:underline">previous</a>
          </span>
        {% endif %}
        {% if pagination.href.next %}
          <span class="flex items-center ml-auto space-x-2">
            <a href="{{ pagination.href.next }}" class="hover:underline">next</a>
            <a href="{{ pagination.href.last }}"
               class="flex items-center hover:underline">last</a>
          </span>
        {% endif %}
      </div>
    </nav>
  {%- endif %}
</div>
