---
eleventyNavigation:
  key: Home
  order: 1
layout: base.njk
---
<div class="max-w-2xl mx-auto">
  <div class="mt-10 text-center sm:mt-16 font-brico">
    <img src="/assets/images/me.png"
          width="250"
          height="250"
          alt="A picture of Josh"
          fetchpriority="high"
          class="mx-auto size-56 rounded-full sm:size-72 drop-shadow-md" />
    <h1 class="mt-6 text-4xl/8 font-bold tracking-tight md:text-5xl/8">👋 Hi, my name is Josh</h1>
    <p class="mt-2 text-base sm:mt-4 md:text-2xl">I'm a web developer living in Alabama</p>
  </div>
  <section class="mt-24 grid grid-cols-4 gap-2">
    {% set latestPost = collections.posts | first %}
    <div>
      <h2 class="text-lg font-medium">Latest Post 📚</h2>
      <time datetime="{{ latestPost.date | dateToHtmlString }}" class="block mb-2 text-xs text-gray-600
 dark:text-gray-300">
       {{ latestPost.date | dateToFormat("LLLL d, yyyy") }}
     </time>
      <a href="/blog/"
          class="text-sm font-medium tracking-tighter text-gray-600 sm:text-sm dark:text-gray-200 hover:text-blue-500 hover:underline">
        View all
      </a>
    </div>
    <article class="col-span-3">
     <div class="group relative">
       <h3 class="text-xl/6 font-semibold text-gray-900 dark:text-gray-50 group-hover:text-gray-600
 dark:group-hover:text-gray-400">
         <a href="{{ latestPost.url }}">
           <span class="absolute inset-0"></span>
           {{ latestPost.data.title }}
         </a>
       </h3>
       <p class="mt-4 text-sm/6 text-gray-600 dark:text-gray-300">
         {{ latestPost.data.summary }}
       </p>
     </div>
    </article>
  </section>
  <section class="mt-16">
    <h2 class="text-xl text-center">Cool Links 🔗</h2>
    <div class="mt-6 grid grid-cols-2 gap-y-8 gap-x-4">
    {% for item in recentRaindrops %}
      <article class="relative">
        <a href="{{ item.link }}"
            target="_blank"
            rel="noopener noreferrer">
          <h3 class="text-base font-medium">
          {{ item.title }}
          <span class="absolute inset-0"></span>
          </h3>
        </a>
        <span class="text-xs text-gray-500 dark:text-gray-400 group-hover:text-gray-700 dark:group-hover:text-gray-300">
          {{ item.domain }}
        </span>
        {% if item.note %}
          <p>{{ item.note }}</p>
        {% endif %}
      </article>
    {% endfor %}
    </div>
  </section>
</div>
